<div class="modal-body">
  <h3 class="modal-title">Nome do Setor - Nome do Cargo</h3>
  <form class="control-epi-modal-form">
    <div class="col-xl-12">
      <smart-radio-container
        direction="row"
        [black]="true"
        label="O empregador implementa medidas de proteção coletiva (EPC) para eliminar ou reduzir a exposição dos trabalhadores ao fator de risco?"
      >
        <smart-radio-item
          [black]="true"
          title="Não se aplica"
        ></smart-radio-item>
        <smart-radio-item
          [black]="true"
          title="Não implementa"
        ></smart-radio-item>
        <smart-radio-item [black]="true" title="Implementar"></smart-radio-item>
      </smart-radio-container>
    </div>
    <div class="col-xl-12">
      <smart-radio-container
        direction="row"
        [black]="true"
        label="Os EPCs são eficazes na neutralização dos riscos ao trabalhador?"
      >
        <smart-radio-item [black]="true" title="Sim"></smart-radio-item>
        <smart-radio-item [black]="true" title="Não"></smart-radio-item>
      </smart-radio-container>
    </div>
    <div class="col-xl-12">
      <smart-radio-container
        [black]="true"
        direction="row"
        label="Utilização EPI"
      >
        <smart-radio-item
          [black]="true"
          title="Não se aplica"
        ></smart-radio-item>
        <smart-radio-item
          [black]="true"
          title="Não utilizado"
        ></smart-radio-item>
        <smart-radio-item [black]="true" title="Utilizado"></smart-radio-item>
      </smart-radio-container>
    </div>
    <h3>EPI's</h3>
    <div class="control-epi-modal__card">
      <div class="form-row">
        <div class="form-group col-8">
          <label for="contact"> Descrição</label>
          <input class="form-control" id="contact" placeholder="Bota" />
        </div>
        <div class="form-group col-4">
          <label for="contact"> Número CA</label>
          <input
            class="form-control"
            id="contact"
            placeholder="Informe o número CA"
          />
        </div>
      </div>
      <div class="control-epi-modal__card__content_radios">
        <button
          *ngIf="!showListEPI"
          (click)="toggleButton()"
          class="control-epi-modal__card__content_radios__arrow"
        >
          <img src="assets/img/icons/icon-big-arrow.svg" alt="flex-esquerda" />
        </button>
        <button
          *ngIf="showListEPI"
          (click)="toggleButton()"
          class="control-epi-modal__card__content_radios__arrow arrow-left"
        >
          <img src="assets/img/icons/icon-big-arrow.svg" alt="flex-esquerda" />
        </button>
        <div class="control-epi-modal__card__content_radios__content">
          <my-slide-panel [activePane]="showListEPI ? 'right' : 'left'">
            <div leftPane>
              <div>
                <div class="form-row flex-column align-items-center">
                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="Marcar todos como: "
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>

                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="O EPI é eficaz na neutralização do risco ao trabalhador?"
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>

                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="Foi tentada a implementação de medidas de proteção coletiva, de caráter administrativo ou de organização, optando-se pelo EPI por inviabilidade técnica, insuficiência ou interinidade, ou ainda em caráter complementar ou emergencial? "
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>
                </div>
                <div class="form-row flex-column align-items-center">
                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="Foram observadas as condições de funcionamento do EPI ao longo do tempo, conforme especificação técnica do fabricante nacional ou importador, ajustadas às condições de campo? "
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>
                </div>
              </div>
            </div>
            <div rightPane>
              <div class="form-row flex-column align-items-center">
                <div>
                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="Marcar todos como: "
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>
                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label=" Foi observado o uso ininterrupto do EPI ao longo do tempo, conforme especificação técnica do fabricante nacional ou importador, ajustadas às condições de campo?"
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>

                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="Foi observado o prazo de validade do Certificado de Aprovação - CA do MTb no momento da compra do EPI?"
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>

                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="É observada a periodicidade de troca definida pelo fabricante nacional ou importador e/ou programas ambientais, comprovada mediante recibo assinado pelo usuário em época própria?"
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>
                  <smart-radio-container
                    [center]="true"
                    [black]="true"
                    direction="row"
                    label="É observada a higienização conforme orientação do fabricante nacional ou importador?"
                  >
                    <smart-radio-item
                      [black]="true"
                      title="Sim"
                    ></smart-radio-item>
                    <smart-radio-item
                      [black]="true"
                      title="Não utilizado"
                    ></smart-radio-item>
                  </smart-radio-container>
                </div>
              </div>
            </div>
          </my-slide-panel>
        </div>
      </div>
    </div>
  </form>
  <div class="mb-3">
    <smart-button-add title="Adicionar EPI"></smart-button-add>
  </div>
  <smart-buttons-form></smart-buttons-form>
</div>
