.control-epi-modal-form {
}

.control-epi-modal__card {
  border: 2px solid #c4cbd2;
  border-radius: 10px;
  padding: 10px;
}
.control-epi-modal__card__content_radios {
  max-width: 90%;
  margin: 0 auto;
}
.control-epi-modal__card__content_radios__content {
  width: 100%;
}
.control-epi-modal__card__content_radios__arrow {
  position: absolute;
  right: 25px;
  top: 64%;
  background-color: #fff;
  border: none;
}

.arrow-left {
  img {
    transform: rotate(180deg);
  }
  left: 25px;
}
