<div class="select-autocomplete-search">
  <label *ngIf="labelName" [for]="id">{{ labelName }}</label>
  <div class="select-autocomplete-search-input">
    <input
      [ngClass]="{
        'form-control': true,
        'select-autocomplete-search-input-opened': isOpenOptions(),
        'select-autocomplete-search-input-search': isSearch,
        'select-autocomplete-search-input-select': !isSearch
      }"
      [readonly]="isInputReadOnly()"
      autocomplete="off"
      [value]="onSelectValue()"
      (click)="ToggleOpenDropDown()"
      (input)="onInputValue($event)"
      (change)="onchangeValue($event)"
      [id]="id"
      [disabled]="disabled"
      placeholder="{{ placeholderName }}"
    />

    <i
      (click)="ToggleOpenDropDown()"
      *ngIf="!isSearch"
      [ngClass]="{
        'select-autocomplete-search-input-icons': true,
        'icon-chevron-do': true,
        'icon-arrow': true,
        'select-autocomplete-search-input-icon-opened': isOpenOptions()
      }"
    >
    </i>

    <i
      *ngIf="isSearch"
      class="icon-search select-autocomplete-search-input-icons"
    ></i>
  </div>

  <div *ngIf="isOpenOptions()" class="select-autocomplete-search-options">
    <ul *ngIf="isSearch" class="select-autocomplete-list">
      <li
        *ngFor="let item of itemsResult"
        class="select-autocomplete-list-item"
      >
        <button (click)="onClickItem(item)" type="button">
          <span>{{ item.name }}</span>
        </button>
      </li>
    </ul>
    <ul *ngIf="!isSearch" class="select-autocomplete-list">
      <li *ngFor="let item of items" class="select-autocomplete-list-item">
        <button (click)="onClickItem(item)" type="button">
          <span>{{ item.name }}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
