.select-autocomplete-search {
  position: relative;
  .select-autocomplete-search-input {
    position: relative;

    .icon-arrow {
      right: 14px;
      top: 8px;
      color: #c4cbd2;
      font-size: 16px;
    }

    .icon-search {
      color: #c4cbd2;
      top: 10px;
      font-size: 16px;
      left: 8px;
      width: 20px;
      height: 20px;
    }

    .select-autocomplete-search-input-opened {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .select-autocomplete-search-input-icons {
      position: absolute;
      transition: all 0.4s ease;
      cursor: pointer;
    }
    .select-autocomplete-search-input-icon-opened {
      transform: rotateZ(180deg);
    }
    .select-autocomplete-search-input-search {
      padding-left: 35px;
    }
    .select-autocomplete-search-input-select {
      cursor: pointer;
      padding-right: 35px;
    }
    input[readonly] {
      background-color: #ffffff;
    }
  }

  .select-autocomplete-search-options {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    border: 1.5px solid #cfd8dc;
    border-top-width: 0px;
    border-radius: 0px 0px 10px 10px;

    overflow-y: auto;
    max-height: 300px;
    background-clip: padding-box;

    .select-autocomplete-list {
      width: 100%;
      padding: 0px;

      .select-autocomplete-list-item button {
        list-style: none;
        background-color: white;
        border: none;
        padding: 10px;
        font-size: 14px;
        line-height: 19px;
        width: 100%;
        display: flex;
      }
      .select-autocomplete-list-item button:hover {
        background-color: #0896ff;
        color: white;
      }
    }
  }
}

::-webkit-scrollbar {
  // border-right: 1.5px solid #cfd8dc;
  // width: 7px;
  // display: none;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  width: 5px;
  border-radius: 10px;
}
