<div class="page-connect-con">
  <div class="form-container">
    <img
      class="logo-connect-con"
      src="/assets/img/logo-connect-cont.svg"
      alt="logo-connect-con"
    />
    <ng-content></ng-content>
  </div>
</div>
