@import "../../../../scss/_modules/variables.scss";

.page-connect-con {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-200;

  .logo-connect-con {
    max-width: 100%;
  }

  .logo-connect-con:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dadada;
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
  }

  .form-container {
    background-color: $white;
    max-width: 450px;
    width: 60vw;
    min-height: 443px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    padding: 40px;

    @media screen and (max-width: 500px) {
      max-width: 90%;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }
}
