<div
  tabindex="1"
  [ngClass]="{ exams__item__details: showDetails, exams__item: true }"
  (click)="showDetails = !showDetails"
  (blur)="onBlur()"
>
  <div [ngClass]="{ exams__details: showDetails }">
    <div class="exams_item__texts">
      <span class="exams_item__texts__title">
        {{ exam.name }}
      </span>
      <span class="exams_item__texts__subtitle">
        {{ exam.periods.length }} Período Selecionado
      </span>
    </div>
    <div class="exams__details__content" *ngIf="showDetails">
      <h2>Períodos</h2>
      <ul class="exams__details__content__list">
        <li>
          <span class="period_title">Admissão</span>
          <span class="period_value"></span>
        </li>
        <li>
          <span class="period_title">Após Admissão</span>
          <span class="period_value">01/02/2017</span>
        </li>
        <li>
          <span class="period_title">Periódico</span>
          <span class="period_value">A cada 3 meses</span>
        </li>
      </ul>
    </div>
  </div>
  <div dropdown class="btn-group" placement="top left">
    <button
      dropdownToggle
      type="button"
      aria-controls="dropdown-dropup"
      (click)="onClickMenu($event)"
      class="exams_item__menu exams_item__menu--new"
    >
      <i class="icon-menu-more"></i>
    </button>

    <ul
      id="dropdown-dropup"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-pcmso"
      role="menu"
      aria-labelledby="dropdown-dropup"
    >
      <li role="menuitem">
        <a
          (click)="showAdmission = true"
          class="dropdown-item dropdown-menu-pcmso__item"
        >
          <i class="icon-edit"></i>
          <span>Editar</span>
        </a>
      </li>
      <li role="menuitem">
        <a
          (click)="showAdmission = true"
          class="dropdown-item dropdown-menu-pcmso__item"
        >
          <i class="icon-delete"></i>
          <span>Excluir</span>
        </a>
      </li>
    </ul>
  </div>
</div>
