.exams__item {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  height: 75px;
  margin-bottom: 25px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .exams__details {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    z-index: 99999;

    .exams__details__content {
      h2 {
        font-weight: 500;
        font-size: 16px;
        color: #37474f;
        margin-top: 10px;
      }
      .exams__details__content__list {
        margin: 0px;
        padding: 0px;
        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          .period_title {
            color: #355c80;
          }
          .period_value {
            color: #37474f;
          }
          margin-bottom: 7px;
        }
      }
    }
  }

  .exams_item__texts {
    display: flex;
    flex-direction: column;

    .exams_item__texts__title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #0896ff;
    }
    .exams_item__texts__subtitle {
      font-weight: 300;

      line-height: 14px;
      color: #37474f;
    }
  }
  .exams_item__menu {
    margin-left: 30px;
  }
  .exams_item__menu--new {
    color: #697b8c;
    font-size: 20px;
  }

  .exams__item__new-exam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    .exams__item__new-exam__title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #0b2d4b;
    }
    .exams__item__new-exam__icon {
      margin-right: 8px;
    }
  }
  &:focus {
    outline: none;
  }
}
.exams__item__details {
  position: relative;
  padding: 0px;

  .exams__item__new__card__opened {
    min-height: 300px;
    padding: 15px;
    display: block;
    overflow: visible;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
  }
}
.exams__item__new_opened {
  border: none;
}
.exams__item__new {
  justify-content: center;
}

.dropdown-menu-pcmso {
  left: -39px !important;
  right: 210px !important;
  top: 150% !important;
  top: 100px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: none;
  padding: 10px;
  width: 50px !important;
  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 11px;
    margin-left: -11px;
  }

  .dropdown-menu-pcmso__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;

    i {
      margin-right: 8px;
      color: #51d95f;
      font-size: 16px;
    }
    span {
      font-size: 14px;
    }
    margin-bottom: 5px;
  }

  .dropdown-menu-pcmso__item:hover {
    background-color: #fff;
  }
  .dropdown-menu-pcmso__item__disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #37474f;
    }
  }
}
