<div class="modal-body">
  <h3 class="modal-title">Equipamentos encontrados</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-xl-12">
        <smart-select-autocomplete-search
          labelName="Risco"
          formControlName="risco"
          placeholderName="Pesquise pelo nome do Risco"
        >
        </smart-select-autocomplete-search>
      </div>
      <div class="form-group col-12 col-sm-12 col-xl-4">
        <label for="name">Código eSocial</label>
        <input
          class="form-control"
          id="name"
          disabled
          formControlName="codigoESocial"
          placeholder="Informe o nome"
        />
        <!-- <div *ngIf="f.codigoESocial.invalid && f.codigoESocial.touched">
          <i class="icon-close icon-danger"></i>
          <span class="message-error" *ngIf="f.codigoESocial.errors.required"
            >O código eSocial é obrigatório</span
          >
        </div> -->
      </div>
      <div class="form-group col-12 col-sm-6 col-xl-4">
        <label for="description">Fator de Risco eSocial</label>
        <input
          class="form-control"
          id="description"
          formControlName="fatorRiscoESocial"
          placeholder="Fator de Risco eSocial"
          disabled
        />
        <!-- <div *ngIf="f.fatorRiscoESocial.invalid && f.fatorRiscoESocial.touched">
          <i class="icon-close icon-danger"></i>
          <span
            class="message-error"
            *ngIf="f.fatorRiscoESocial.errors.required"
            >O Fator de Risco eSocial é obrigatório</span
          >
        </div> -->
      </div>
      <div class="form-group col-12 col-sm-6 col-xl-4">
        <smart-select-autocomplete-search
          labelName="Grupo de Risco"
          formControlName="grupoRisco"
          placeholderName="Mêcanico/Acidente"
          [disabled]="true"
        >
        </smart-select-autocomplete-search>
      </div>
      <div class="form-group col-12 col-sm-6 col-xl-6">
        <label for="name">Nome Reduzido </label>
        <input
          class="form-control"
          id="name"
          formControlName="nomeReduzido"
          placeholder="Informe o Nome Reduzido "
        />
      </div>
      <div class="form-group col-12 col-sm-6">
        <smart-select-autocomplete-search
          labelName="Tipo de Avaliação"
          formControlName="grupoRisco"
          placeholderName="Selecione o Tipo de Avaliação"
        >
        </smart-select-autocomplete-search>
      </div>
      <div class="form-group col-12 col-sm-6">
        <label for="name">Unidade de Medida</label>
        <input
          class="form-control"
          id="name"
          formControlName="uniMedida"
          placeholder="Informe o Unidade de Medida"
        />
      </div>
      <div class="form-group col-12 col-sm-6">
        <label for="name">Limite de Tolerância</label>
        <input
          class="form-control"
          id="name"
          formControlName="limitTolerencia"
          placeholder="Informe o Limite de Tolerância"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <smart-buttons-form
          cancelButtonTitle="Cancelar"
          saveButtonTitle="Salvar"
          [showSaveAndContinueButton]="false"
        ></smart-buttons-form>
      </div>
    </div>
  </form>
</div>
