@import "../../../../scss/_modules/variables.scss";

.buttons-form {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 795px) {
    flex-direction: column;
    button {
      margin: 10px 0px !important;
    }
  }
  .btn-dashboard {
    border-radius: 6px;
    min-width: 200px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .btn-dashboard-save {
    background-color: $color-button-save;
    box-shadow: none;
    border-color: $color-button-save;
    color: $white;
  }

  .btn-dashboard-cancel {
    &:hover {
      background-color: $white;
    }
  }
}
