<div class="buttons-form">
  <button
    (click)="cancelButtonClick.emit()"
    class="btn btn-light btn-dashboard btn-dashboard-cancel"
  >
    {{ cancelButtonTitle }}
  </button>
  <button
    (click)="saveButtonClick.emit()"
    type="submit"
    class="btn btn-success btn-dashboard btn-dashboard-save"
  >
    {{ saveButtonTitle }}
  </button>
</div>
