<div class="modal-body">
  <h3 class="modal-title">Lista de Funcionários</h3>
  <smart-list-employees
    (eventAddExistEmployee)="showFormAddExist()"
    (eventAddNewEmployee)="showFormAddNew()"
  >
  </smart-list-employees>
  <div *ngIf="showFormAddNewEmployee">
    <h4 class="mt-4 mb-4 title-form-add-employee">
      Cadastrar novo funcionário
    </h4>
    <form class="function-form-form">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <label for="contact">Nome Completo</label>
          <input
            class="form-control"
            id="contact"
            placeholder="Informe o Nome Completo"
          />
        </div>
        <div class="form-group col-12 col-sm-6">
          <smart-select-autocomplete-search
            [isSearch]="false"
            labelName="Gênero"
            placeholderName="Selecione o gênero"
          ></smart-select-autocomplete-search>
        </div>
        <div class="form-group col-12 col-sm-6">
          <label for="contact">CPF</label>
          <input
            class="form-control"
            id="contact"
            rows="3"
            placeholder="Informe o CPF"
          />
        </div>
        <div class="form-group col-12 col-sm-6">
          <label for="contact">NIS</label>
          <input
            class="form-control"
            id="contact"
            rows="3"
            placeholder="Informe o NIS"
          />
        </div>
        <div class="form-group col-sm-12">
          <smart-select-autocomplete-search
            [isSearch]="false"
            labelName="Cargo"
            placeholderName="Selecione o Cargo"
          ></smart-select-autocomplete-search>
        </div>
      </div>

      <div class="form-row mt-4">
        <div class="col-12">
          <smart-buttons-form
            cancelButtonTitle="Cancelar"
            saveButtonTitle="Salvar"
            [showSaveAndContinueButton]="false"
          ></smart-buttons-form>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="showFormAddExistEmployee">
    <h4 class="mt-4 mb-4 title-form-add-employee">
      Adicionar funcionário existente
    </h4>
    <form class="function-form-form">
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <smart-select-autocomplete-search
            labelName="Nome Completo"
            placeholderName="Informe o nome do funcionário"
          ></smart-select-autocomplete-search>
        </div>
        <div class="form-group col-12 col-sm-6">
          <smart-select-autocomplete-search
            [isSearch]="false"
            labelName="Cargo"
            placeholderName="Selecione o cargo"
          ></smart-select-autocomplete-search>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="col-12">
          <smart-buttons-form
            cancelButtonTitle="Cancelar"
            saveButtonTitle="Salvar"
            [showSaveAndContinueButton]="false"
          ></smart-buttons-form>
        </div>
      </div>
    </form>
  </div>
</div>
