<div class="select-multiple-checkbox-search">
  <label *ngIf="labelName" for="iniV">{{ labelName }}</label>
  <div class="select-multiple-checkbox-search-input">
    <form [formGroup]="form">
      <input
        [readonly]="isInputReadOnly()"
        (click)="ToggleOpenDropDown()"
        class="form-control"
        [ngClass]="{
          'select-multiple-checkbox-search-input-opened': isOpen,
          'select-multiple-checkbox-search-input-select': isSearch
        }"
        autocomplete="off"
        id="iniV"
        formControlName="search"
        placeholder="{{ placeholderName }}"
      />
      <img
        class="select-multiple-checkbox-search-input-icons icon-arrow"
        (click)="ToggleOpenDropDown()"
        [ngClass]="{
          'select-multiple-checkbox-search-input-icon-opened': isOpen
        }"
        src="assets/img/icons/icon-arrow-blue.svg"
        alt="icone flexa"
      />
    </form>
  </div>

  <div *ngIf="isOpen" class="select-multiple-checkbox-search-options">
    <ul class="select-multiple-checkbox-list">
      <li *ngFor="let item of items" class="select-multiple-checkbox-list-item">
        <button (click)="selectItem(item)" type="button">
          <smart-checkbox></smart-checkbox>
          <span>{{ item.name }}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
