.radio-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;

  .radio-container__title {
    font-size: 16px;
    line-height: 18px;
    color: #355c80;
    margin-bottom: 20px;
  }
  .radio-container__title-center {
    text-align: center;
  }

  .radio-content {
    display: flex;
    flex-direction: column;
  }
  .radio-content__row {
    flex-direction: row;
  }

  .radio-content__center {
    justify-content: center;
  }
}

.radio-container__black {
  color: #37474f !important;
}
