<div class="radio-container">
  <span
    [ngClass]="{
      'radio-container__title': true,
      'radio-container__title-center': center == true,
      'radio-container__black': black === true
    }"
    >{{ label }}</span
  >
  <div
    class="radio-content"
    [ngClass]="{
      'radio-content__row': direction === 'row',
      'radio-content__center': center
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
