.modal-detail-item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 0px 40px 50px 0px;
  .modal-detail-item__title {
    color: #151c23;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .modal-detail-item__value {
    color: #37474f;
  }
}
