<div class="container-form-component-with-tabs">
  <div class="padding-page container-form-component-with-tabs-tabs-content">
    <ng-content select=".buttons"></ng-content>
  </div>
  <div class="container-form-component-with-tabs-content">
    <ng-content select=".content"></ng-content>
  </div>
</div>
