@import "../../../../scss/_modules/variables.scss";

.container-form-component-with-tabs {
  margin-right: 2rem;
  height: 100%;
  @media screen and (max-width: 991px) {
    margin-right: 0px;
  }
}

.container-form-component-with-tabs-content {
  background-color: red;
  height: 100%;
  background-color: $white;
  padding: 1.5rem 2rem;
  width: 100%;
  height: calc(100% - 45px);
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 768px) {
    padding: 0.5rem 0.8rem;
    width: 100%;
    display: flex;
    border-radius: 0px;
    justify-content: center;
  }
}

.padding-page {
  padding: 0rem 2rem;
}
