<div class="form-header">
  <form class="form-header-form">
    <div class="form-header-content">
      <div>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-newcustomer"
          #panelNewCustomer
        >
          <div panelTitle class="title-collapse">
            Medições por setor
          </div>
          <div panelContent id="isCollapsedDataCustomer">
            <div class="form-row">
              <div class="col-6">
                <div class="form-row">
                  <div class="form-group col-xl-12">
                    <smart-select-autocomplete-search
                      labelName="Setor"
                      placeholderName="Selecione o Setor"
                    ></smart-select-autocomplete-search>
                  </div>
                  <div class="form-group col-xl-8">
                    <label for="contact"> Nível de ruído (dB (A))</label>
                    <input
                      class="form-control"
                      id="contact"
                      placeholder="Informe o nível de ruído"
                    />
                  </div>
                  <div class="form-group col-xl-4">
                    <label for="contact"> Iluminação (lux)</label>
                    <input
                      class="form-control"
                      id="contact"
                      placeholder="Iluminação (lux)"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <smart-list-feedback-status
                  title="Setores para vistoriar"
                ></smart-list-feedback-status>
              </div>
            </div>

            <smart-button-add title="Adicionar equipamento"></smart-button-add>
          </div>
        </smart-panel>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Cnae"
          #panelCnae
        >
          <div panelTitle class="title-collapse">
            EPI’s
          </div>
          <div panelContent id="isCollapsedCNA">
            <div class="form-row">
              <div class="form-group col-xl-8">
                <label for="iniV">Descrição</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="iniV"
                  placeholder="Informe a descrição do EPI"
                />
              </div>
              <div class="form-group col-xl-4">
                <label for="fimV">Número CA</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="fimV"
                  placeholder="Informe o número CA"
                />
              </div>
              <div class="form-group col-xl-4">
                <smart-button-add title="Adicionar EPI"></smart-button-add>
              </div>
              <div class="form-group col-xl-12">
                <button class="button-light mb-3">
                  Medir próximo setor
                </button>
              </div>
            </div>
          </div>
        </smart-panel>
      </div>
      <!-- <smart-buttons-form
        cancelButtonTitle="Voltar"
        saveButtonTitle="Avançar"
        [showSaveAndContinueButton]="false"
      ></smart-buttons-form> -->
    </div>
  </form>
</div>
