:host {
  width: 100%;
  display: inline-block;
}

.form-header {
  width: 100%;
  height: 100%;
  display: flex;

  .form-header-form {
    flex: 1;
  }
  .form-header-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}

.sectors-table-info {
  border: 1px solid #a7b2bb;
  border-radius: 11px;
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 300px;
  .sectors-table-info__title {
  }
  .sectors-table-info__table {
    border-collapse: collapse;
    width: 220px;

    .td-item {
      display: flex;
      justify-content: center;
      border-radius: 10px;
      padding: 10px 0px;
    }

    td,
    th,
    th {
      text-align: center;
    }
    th {
      color: #0896ff;
      font-size: 16px;
      margin-bottom: 20px;
    }
    tr:nth-child(even) {
      background-color: #f1f1f1;
    }
    thead {
      margin-bottom: 20px;
    }
  }
}
