<div class="modal-body">
  <h3 class="modal-title">Equipamentos encontrados</h3>
  <form>
    <div class="form-row">
      <div class="col-12">
        <div class="form-row">
          <div class="form-group col-xl-8">
            <label for="contact"> Equipamento</label>
            <input
              class="form-control"
              id="contact"
              placeholder="Informe o nome do equipamento"
            />
          </div>
          <div class="form-group col-xl-4">
            <label for="contact"> dB (A)</label>
            <input
              class="form-control"
              id="contact"
              placeholder="Informe o dB (A)"
            />
          </div>
        </div>
        <div class="mb-2">
          <smart-button-add title="Adicionar equipamento"></smart-button-add>
        </div>
        <div class="form-row">
          <div class="col-12">
            <smart-buttons-form
              cancelButtonTitle="Cancelar"
              saveButtonTitle="Salvar"
              [showSaveAndContinueButton]="false"
            ></smart-buttons-form>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
