<div class="list-search-bar">
  <div class="search">
    <div class="search-input">
      <smart-select-autocomplete-search> </smart-select-autocomplete-search>
    </div>
    <smart-button-remove title="Remover funcionário"></smart-button-remove>
  </div>
  <div class="btn-group" dropdown [dropup]="isDropupButtonsNewEmployee">
    <smart-button-add
      dropdownToggle
      title="Adicionar funcionário"
    ></smart-button-add>
    <ul
      id="dropdown-dropup"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-new-function"
      role="menu"
      aria-labelledby="button-dropup"
    >
      <li role="menuitem">
        <a (click)="eventAddNewEmployee.emit()" class="dropdown-item"
          >Novo Funcionário</a
        >
      </li>
      <li role="menuitem">
        <a (click)="eventAddExistEmployee.emit()" class="dropdown-item"
          >Funcionário existente</a
        >
      </li>
    </ul>
  </div>
</div>

<table class="list-table">
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
  <tr>
    <div class="list-table-item row">
      <div class="col-9">
        <div class="thumbnail">
          <smart-checkbox></smart-checkbox>
          <div class="avatar">
            <span>GR</span>
          </div>
          <div class="names">
            <span>Nome:</span>
            <span class="list-table-item__value">Ajudante geral</span>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="buttons d-flex justify-content-end">
          <button class="btn table-buttons">Editar</button>
          <button class="btn table-buttons button-detail">
            detalhar
          </button>
        </div>
      </div>
    </div>
  </tr>
</table>
