.aso-form {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .aso-form__card {
    width: 90%;
    max-width: 1000px;
    height: 100%;

    background: #ffffff;

    // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
    border-radius: 23px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    .aso-form__triangule {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .aso-form__title {
        margin-left: 30px;
        margin-top: 50px;
        font-size: 24px;
        line-height: 28px;
        color: #355c80;
      }

      .triangule {
        background-color: #f8f8f8;
        width: 0;
        height: 0;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 100px solid #41e88c;
        border-right: 100px solid transparent;
        border-bottom-right-radius: 3px;
      }
    }
  }
  .aso-form__content {
    padding: 0px 30px;
  }
  .aso-form__content__subtitle {
    font-weight: 300;
    font-size: 24px;
    color: #37474f;
    margin-top: 20px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
  }

  .form-field__label {
    font-size: 14px;
    color: #355c80;
  }
  .form-field__value {
    font-size: 16px;
    color: #37474f;
  }
}
