<div class="aso-form">
  <div class="aso-form__card">
    <div class="aso-form__triangule">
      <h2 class="aso-form__title">
        Nova ASO
      </h2>

      <button (click)="openModalAddMedic(templateModalAddMedic)">
        Adicionar medico
      </button>
      <div class="triangule"></div>
    </div>
    <div class="aso-form__content">
      <h3 class="aso-form__content__subtitle">
        Médico emitente ASO
      </h3>
      <div class="form-row">
        <div class="form-group col-xl-4">
          <smart-select-autocomplete-search
            labelName="Nome do médico - CRM"
            placeholderName="Selecione o médico emitente"
          >
          </smart-select-autocomplete-search>
        </div>
      </div>
      <div class="form-row mt-4 mb-4">
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Nome do funcionário
            </span>
            <span class="form-field__value">
              Guilherme Ranieri
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              CPF
            </span>
            <span class="form-field__value">
              Guilherme Ranieri
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Data de Nascimento
            </span>
            <span class="form-field__value">
              20/08/1980
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              NIS (PIS, PASEP ou NIT)
            </span>
            <span class="form-field__value">
              2334233445/04
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              CRM
            </span>
            <span class="form-field__value">
              876548
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              UF
            </span>
            <span class="form-field__value">
              SP
            </span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-4 mb-3">
          <smart-select-autocomplete-search
            labelName="Tipo da ASO"
            placeholderName="Selecione o médico emitente"
          >
          </smart-select-autocomplete-search>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <smart-select-autocomplete-search
            labelName="Funcionário"
            placeholderName="Selecione o médico emitente"
          >
          </smart-select-autocomplete-search>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <smart-select-autocomplete-search
            labelName="Médico Responsável  pelo PCMSO"
            placeholderName="Selecione o médico emitente"
          >
          </smart-select-autocomplete-search>
        </div>
      </div>
      <div class="form-row mt-2 mb-4">
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Nome do funcionário
            </span>
            <span class="form-field__value">
              Guilherme Ranieri
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Nome do funcionário
            </span>
            <span class="form-field__value">
              Guilherme Ranieri
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Idade
            </span>
            <span class="form-field__value">
              26 anos
            </span>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="form-field mb-2 mt-2">
            <span class="form-field__label">
              Cargo
            </span>
            <span class="form-field__value">
              UX Designer
            </span>
          </div>
        </div>
      </div>
      <h3 class="aso-form__content__subtitle">
        O Funcionário está apto para exercer suas atividades?
      </h3>
      <div class="form-row">
        <div class="col-12 col-md-6">
          <smart-radio-item
            title="Apto(a) para as atividades da função"
          ></smart-radio-item>
        </div>
        <div class="col-12 col-md-6">
          <smart-radio-item
            title="Inapto(a) para as atividades da função"
          ></smart-radio-item>
        </div>
      </div>

      <h3 class="aso-form__content__subtitle">
        Exames Realizados
      </h3>
      <div class="form-row">
        <div class="col-12 col-md-6 mb-3">
          <smart-select-autocomplete-search
            labelName="Nome do exame"
            placeholderName="Informe o nome do exame"
          >
          </smart-select-autocomplete-search>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <smart-select-autocomplete-search
            labelName="Data de Nascimento"
            placeholderName="Informe a data"
          >
          </smart-select-autocomplete-search>
        </div>
        <div class="col-12 col-md-3 mb-3">
          <smart-select-autocomplete-search
            labelName="Resultado"
            placeholderName="Selecione o resultado"
          >
          </smart-select-autocomplete-search>
        </div>
      </div>
      <h3 class="aso-form__content__subtitle">
        Existem riscos ocupacionais?
      </h3>
      <div class="form-row">
        <div class="col-12 col-md-6">
          <div class="d-flex flex-column">
            <smart-radio-item
              title="Risco(s) ocupacional(is) específico(s) da atividade"
            ></smart-radio-item>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <smart-radio-item
            title="Não há risco ocupacional específico para a atividade"
          ></smart-radio-item>
        </div>
        <div class="col-12 mt-3">
          <textarea
            class="form-control"
            id="name"
            rows="5"
            value=""
            placeholder="Informe os riscos ocupacionais"
          >
          </textarea>
        </div>
      </div>
      <h3 class="aso-form__content__subtitle">
        Observações
      </h3>
      <div class="form-row">
        <div class="form-group col-xl-12">
          <label for="name"
            >Há algo que gostaria de acrescentar no documento?</label
          >
          <textarea
            class="form-control"
            id="name"
            rows="5"
            placeholder="Informe os riscos ocupacionais"
          >
          </textarea>
        </div>
      </div>
      <div class="mt-5 mb-5">
        <smart-buttons-form></smart-buttons-form>
      </div>
    </div>
  </div>
</div>

<ng-template #templateModalAddMedic>
  <div class="modal-body">
    <h3 class="modal-title">Cadastrar médico</h3>
    <div class="function-form">
      <form class="function-form-form">
        <div class="function-form-content">
          <div class="mb-4">
            <div class="form-row">
              <div class="form-group col-xl-12">
                <label for="completName">Nome completo (Obrigatório)</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Informe o nome completo"
                />
              </div>
              <div class="form-group col-4">
                <label for="completName">CPF (Obrigatório)</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Informe o CPF"
                />
              </div>
              <div class="form-group col-4">
                <label for="completName">CRM (Obrigatório)</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Informe o CRM"
                />
              </div>
              <div class="form-group col-4">
                <label for="completName">UF (Obrigatório)</label>
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Informe o UF"
                />
              </div>
            </div>
          </div>
          <smart-buttons-form
            [showSaveAndContinueButton]="false"
            saveButtonTitle="Salvar médico"
          ></smart-buttons-form>
        </div>
      </form>
    </div>
  </div>
</ng-template>
