:host {
  width: 100%;
  display: inline-block;
}

.slider {
  width: 100%;
  min-height: 80vh;
  position: relative;
  overflow-y: scroll;
}

.slide {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  display: flex;
  padding: 0px 5px;
  justify-content: stretch;
}

.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none !important;
  cursor: pointer;
  border: none;
}

.arrow.prev {
  opacity: 0.2;
  left: 20px;

  transition: 0.2s linear all;
}

.arrow.next {
  opacity: 0.2;
  right: 20px;

  transition: 0.2s linear all;
}

.arrow.prev:hover {
  opacity: 1;
}

.arrow.next:hover {
  opacity: 1;
}

/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1002;
  left: 0;
  bottom: -4px;
  right: 0;
  height: 48px;
}

.nonDraggableImage {
  -webkit-user-drag: none;
}

.nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 0.8em;
}

.nav ul {
  margin: 0;
  width: 100%;
}

.nav .dot,
.nav .dot span {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
}

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px;
}

.dots .dot span {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot span.active {
  border-color: #fff;
  background-color: transparent;
}
