<div class="slider">
  <div style="flex:1;" [@slideAnimation]="currentIndex">
    <ng-template ngFor [ngForOf]="templateRefs" let-slide let-i="index">
      <div class="slide" *ngIf="isCurrentSlideIndex(i)">
        <ng-container
          style="width:100%;"
          *ngTemplateOutlet="slide"
        ></ng-container>
      </div>
    </ng-template>
  </div>
</div>
