<button (click)="clickTag()" type="button" class="tag-item">
  <div
    tooltip="Clique para visualizar"
    placement="top"
    [ngClass]="{
      'tag-item__container-opened ': showDeleteButton || showEditButton
    }"
    class="tag-item__container-title"
  >
    <img
      *ngIf="isFavorite"
      class="tag-item__container-title-star"
      src="assets/img/icons/icon-star.svg"
    />
    <span>{{ title }}</span>
  </div>
  <div class="tag-item__options">
    <button (click)="clickEdit($event)" *ngIf="showEditButton">
      <i class="icon-edit"></i>
    </button>
    <button (click)="clickDelete($event)" *ngIf="showDeleteButton">
      <i class="icon-remove"></i>
    </button>
  </div>
</button>
