.tag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px 5px 5px 0px;
  background-color: #fff;
  background-color: #355c80;
  color: #fff;
  font-size: 12px;
  border-style: none;
  cursor: pointer;
  transition: 0.3s;
  .tag-item__container-opened {
    margin-right: 20px;
  }
  .tag-item__container-item {
    display: flex;
    align-items: center;
  }
  .tag-item__container-title-star {
    height: 11px;
    width: 12px;
    margin-right: 15px;
  }
  .tag-item__options {
    display: flex;
    align-items: center;
    button {
      border: none;
      background-color: transparent;
      display: flex;
      color: #fff;
      font-size: 15px;
    }
  }
}

.tag-item:hover {
  background-color: #5c9fdd;
}
