.button-transparent-add {
  color: #37474f;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: normal;
  .icon-add-more {
    margin-right: 5px;
    font-size: 19px;
  }
  padding: 10px 0px;
  font-weight: 400;
  font-size: 16px;
}

.with-border {
  border: 1px solid #37474f;
  border-radius: 8px;
  min-width: 206px;
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  img {
    margin-right: 10px;
  }
}
