<smart-container-clean>
  <div class="row">
    <div class="col-2 mb-4">
      <smart-dropdown-filter
        title="Filtrar Clientes"
        filterHeader="Filtra por:"
      >
        <form>
          <div class="form-row">
            <div class="form-group col-12">
              <smart-select-autocomplete-search
                labelName="Empresa"
                placeholderName="Informe a empresa"
              ></smart-select-autocomplete-search>
            </div>
            <div class="form-group col-12">
              <smart-select-autocomplete-search
                labelName="Status"
                placeholderName="Informe o status"
              ></smart-select-autocomplete-search>
            </div>
            <div class="form-group col-12">
              <smart-select-autocomplete-search
                labelName="Data"
                placeholderName="Selecione de período"
              ></smart-select-autocomplete-search>
            </div>
            <div class="form-group col-12">
              <button class="button__filter_dropdown">
                Filtrar
              </button>
            </div>
          </div>
        </form>
      </smart-dropdown-filter>
    </div>
  </div>

  <div
    class="w-100"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    (scrolled)="onScrollDown($event)"
  >
    <div class="row">
      <div
        *ngFor="let i of buffer"
        class="custormer"
        class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"
      >
        <div class="custormer">
          <div class="w-100">
            <smart-card-skeleton></smart-card-skeleton>
          </div>
          <!-- <div class="w-100 d-flex justify-content-end mr-2">
            <div class="btn-group" dropdown placement="left">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="custormer__menu"
                aria-controls="dropdown-animated"
              >
                <i class="icon-menu-more"></i>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right custormer__menu__menu-dropdown"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li class="menu-item-dropdown" role="menuitem">
                  <a class="dropdown-item" href="#">
                    <i class="icon-copy mr-1"></i>
                    <span> Duplicar </span>
                  </a>
                </li>
                <li class="menu-item-dropdown" role="menuitem">
                  <a class="dropdown-item" href="#">
                    <i class="icon-delete mr-1"></i>
                    <span> Excluir </span>
                  </a>
                </li>
                <li class="menu-item-dropdown" role="menuitem">
                  <a class="dropdown-item" href="#">
                    <i class="icon-edit mr-1"></i>
                    <span> Renomear </span>
                  </a>
                </li>
                <li class="menu-item-dropdown" role="menuitem">
                  <a class="dropdown-item" href="#">
                    <i class="icon-attachment mr-1"></i>
                    <span> Upload da Assinatura </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="avatar">
            <h5 class="avatar-title">
              GR
            </h5>
          </div>
          <h3 class="title">GR Contábil</h3>
          <p class="date_created">Castrado em 20/05/2019</p> -->
        </div>
      </div>
    </div>
  </div>
</smart-container-clean>
<smart-fab-shortcut (submitClickButton)="newClient()"> </smart-fab-shortcut>
