@import "../../../../scss/_modules/variables.scss";

.container-form-component {
  margin-right: 2rem;
  height: 100%;
  min-height: 100%;

  @media screen and (max-width: 991px) {
    margin-right: 0px;
  }
}

.container-form-component-content {
  background-color: $white;
  padding: 1.5rem 2rem;
  width: 100%;
  height: 100%;
  min-height: 100%;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 991px) {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 0px;
  }
}
