:host {
  position: absolute;
  width: 100%;
  top: 0px;
}

.exams__item__new__card {
  width: 101%;
  background-color: #fff;
  top: 0;
  position: absolute;
  display: none;
  margin-bottom: 30px;
  overflow: hidden;
  z-index: 99999999;

  .exams__item__new__card__title {
    font-weight: 500;
    font-size: 16px;
    color: #0896ff;
  }

  .exams__item__new__card__periods {
    .exams__item__new__card__periods__list {
      width: 100%;
      padding: 0px;
      .exams__item__new__card__periods__list__item {
        list-style: none;
        color: #355c80;
        margin-bottom: 5px;
        i {
          color: #eb4949;
          font-size: 16px;
        }
        span {
          opacity: 1;
        }
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      color: #37474f;
    }
    span {
      color: #355c80;
      opacity: 0.5;
      text-align: center;
      width: 70%;
    }
    .exams__item__new__card__periods__add-exam {
      border: 1px dashed #697b8c;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 10px;
      width: 160px;
      i {
        font-size: 16px;
        margin-right: 10px;
        margin-left: 3px;
        color: #37474f;
      }
      span {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #37474f;
        text-align: initial;
      }
    }
  }

  .select_periods {
    h4 {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #0b2d4b;
    }
    .select_periods__list {
      padding: 0px;
      margin: 0px;
      .select_periods__list_item {
        list-style: none;

        .select_periods__list_item__button {
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-radius: 6px;
          padding: 8px;
          cursor: pointer;
          color: #fff;
          span {
            color: #37474f;
          }
          &:hover {
            background-color: #51d95f;
            span {
              color: #fff;
            }
          }
        }
      }
    }
    .select_periods__goback {
      border: 1.5px solid #37474f;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 16px;
      color: #37474f;
      padding: 5px 10px;
      min-width: 100px;
    }
  }

  .exams__item__new__card__buttons {
    display: flex;
    justify-content: space-between;
    .exams__item__new__card__buttons__cancel {
      border: 1.5px solid #37474f;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 16px;
      color: #37474f;
      padding: 5px 10px;
      min-width: 100px;
    }
    .exams__item__new__card__buttons__add {
      background: #51d95f;
      border-radius: 6px;
      color: #fff;

      &:disabled {
        background: #cfd8dc;
        cursor: not-allowed;
      }
    }
  }
}

.exams__item__new__card__opened {
  min-height: 300px;
  padding: 15px;
  display: block;
  overflow: visible;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
