<div
  [ngClass]="{
    exams__item__new__card: true,
    exams__item__new__card__opened: visibleCardFormExam
  }"
>
  <h2 class="mb-2 exams__item__new__card__title">
    Novo Exame
  </h2>
  <div *ngIf="!visibleCardListExams">
    <smart-select-autocomplete-search
      labelName="Exames padrões"
      placeholderName="Informe o exame"
    >
    </smart-select-autocomplete-search>
    <div class="mt-3 exams__item__new__card__periods">
      <h4>Períodos</h4>
      <div class="d-flex flex-column align-items-center">
        <span *ngIf="listPeriodsNewExams.length === 0"
          >Adicione um período em “Adicionar Período” para poder visualizá-lo
          aqui.</span
        >
        <ul
          class="exams__item__new__card__periods__list"
          *ngIf="listPeriodsNewExams.length > 0"
        >
          <li
            class="exams__item__new__card__periods__list__item"
            *ngFor="let item of listPeriodsNewExams"
          >
            <span>{{ item }}</span>
            <button (click)="removePeriod(item)" type="button">
              <i class="icon-bin"></i>
            </button>
          </li>
        </ul>
        <button
          (click)="showCardListExams()"
          type="button"
          class="mt-2 exams__item__new__card__periods__add-exam"
        >
          <i class="icon-add-more"></i>

          <span>Adicionar Período</span>
        </button>
      </div>
    </div>
    <div class="mt-3 exams__item__new__card__buttons">
      <button
        class="exams__item__new__card__buttons__cancel"
        type="button"
        (click)="cancelCreateExam()"
      >
        Cancelar
      </button>
      <button
        [disabled]="listPeriodsNewExams.length === 0"
        class="exams__item__new__card__buttons__add"
        type="button"
        (click)="saveExam()"
      >
        Adicionar Exame
      </button>
    </div>
  </div>
  <div *ngIf="visibleCardListExams" class="select_periods">
    <h4>Escolha um Período</h4>
    <ul class="select_periods__list">
      <li
        *ngIf="!listPeriodsNewExams.includes('Admissão')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Admissão')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Admissão</span>
          <i class="icon-foward"></i>
        </button>
      </li>
      <li
        *ngIf="!listPeriodsNewExams.includes('Após admissão')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Após admissão')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Após admissão</span> <i class="icon-foward"></i>
        </button>
      </li>
      <li
        *ngIf="!listPeriodsNewExams.includes('Periódico')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Periódico')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Periódico</span>
          <i class="icon-foward"></i>
        </button>
      </li>
      <li
        *ngIf="!listPeriodsNewExams.includes('Retorno ao trabalho')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Retorno ao trabalho')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Retorno ao trabalho</span> <i class="icon-foward"></i>
        </button>
      </li>
      <li
        *ngIf="!listPeriodsNewExams.includes('Mudança de função')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Mudança de função')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Mudança de função</span> <i class="icon-foward"></i>
        </button>
      </li>
      <li
        *ngIf="!listPeriodsNewExams.includes('Demissão')"
        class="select_periods__list_item"
      >
        <button
          (click)="addPeriod('Demissão')"
          type="button"
          class="select_periods__list_item__button"
        >
          <span>Demissão</span> <i class="icon-foward"></i>
        </button>
      </li>
    </ul>
    <div class="d-flex mt-3 justify-content-center">
      <button (click)="closeCardListExams()" class="select_periods__goback">
        Voltar
      </button>
    </div>
  </div>
</div>
