<div class="modal-body" style="min-width: 70vh;">
  <h3 class="modal-title">Editar GHE 1</h3>
  <div class="list-search-bar">
    <div class="search">
      <div class="search-input">
        <smart-select-autocomplete-search> </smart-select-autocomplete-search>
      </div>
      <smart-button-remove title="Excluir cargo"></smart-button-remove>
    </div>
    <div class="btn-group" dropdown [dropup]="true">
      <smart-button-add
        dropdownToggle
        title="Adicionar Cargo"
      ></smart-button-add>
      <ul
        id="dropdown-dropup"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-new-function"
        role="menu"
        aria-labelledby="button-dropup"
      >
        <li role="menuitem">
          <a class="dropdown-item">Novo Carogo</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item">Cargo existente</a>
        </li>
      </ul>
    </div>
  </div>

  <table class="list-table">
    <tr>
      <div class="list-table-item row">
        <div class="col-4">
          <div class="thumbnail">
            <smart-checkbox></smart-checkbox>
            <div class="avatar">
              <span>GR</span>
            </div>
            <div class="names">
              <span>Nome:</span>
              <span class="list-table-item__value">Ajudante geral</span>
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="d-flex flex-column">
            <span>Grupo de atividades:</span>
            <span class="list-table-item__value">Nome do grupo</span>
          </div>
        </div>

        <div class="col-3">
          <div class="buttons d-flex justify-content-end">
            <button class="btn table-buttons">Editar</button>
            <button class="btn table-buttons button-detail">
              detalhar
            </button>
          </div>
        </div>
      </div>
    </tr>
  </table>
  <div class="form-row mt-4">
    <div class="col-12">
      <smart-buttons-form
        cancelButtonTitle="Cancelar"
        saveButtonTitle="Salvar"
        [showSaveAndContinueButton]="false"
      ></smart-buttons-form>
    </div>
  </div>
</div>
