<div class="subheader">
  <h1 class="subheader-title">
    <i class="subheader-icon fal fa-window"></i> Alerts
    <small>
      Provide contextual feedback messages for typical user actions with the
      handful of available and flexible alert messages.
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <!--Basic alerts-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          Basic <span class="fw-300"><i>Alerts</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert type="primary mb-3">
              <strong>Heads up!</strong> This alert needs your attention, but
              it's not super important.
            </alert>
            <alert type="success mb-3">
              <strong>Well Done!</strong> You successfully read this important
              alert message.
            </alert>
            <alert type="danger mb-3">
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </alert>
            <alert type="warning mb-3">
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </alert>
            <alert type="info mb-3">
              <strong>Info!</strong> Alert for passing information to user.
            </alert>
            <alert type="secondary mb-0">
              <strong>Hello World!</strong> This is default alert message box.
            </alert>
          </div>
        </div>
      </div>
    </div>
    <!--Dismissable Alerts-->
    <div id="panel-2" class="panel">
      <div class="panel-hdr">
        <h2>
          Dismissable <span class="fw-300"><i>Alerts</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert type="primary mb-3" #alert1>
              <button
                type="button"
                class="close"
                (click)="alert1.close()"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
              <strong>Heads up!</strong> This alert needs your attention, but
              it's not super important.
            </alert>
            <alert type="success mb-3" #alert2>
              <button
                type="button"
                class="close"
                (click)="alert2.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <strong>Well Done!</strong> You successfully read this important
              alert message.
            </alert>
            <alert type="danger mb-3" #alert3>
              <button
                type="button"
                class="close"
                (click)="alert3.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
              </button>
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </alert>
            <alert type="warning mb-3" #alert4>
              <button
                type="button"
                class="close"
                (click)="alert4.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><i class="fal fa-times-square"></i
                ></span>
              </button>
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </alert>
            <alert type="info mb-3" #alert5>
              <button
                type="button"
                class="close"
                (click)="alert5.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><i class="fal fa-times-circle"></i
                ></span>
              </button>
              <strong>Info!</strong> Alert for passing information to user.
            </alert>
            <alert type="secondary mb-0" #alert6>
              <button
                type="button"
                class="close"
                (click)="alert6.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><i class="fal fa-window-close"></i
                ></span>
              </button>
              <strong>Hello World!</strong> This is default alert message box.
            </alert>
          </div>
        </div>
      </div>
    </div>
    <!--Large Alerts-->
    <div id="panel-3" class="panel">
      <div class="panel-hdr">
        <h2>
          Large <span class="fw-300"><i>Alerts</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert type="success mb-3" #alert7>
              <button
                type="button"
                class="close"
                (click)="alert7.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon width-1">
                  <i class="fal fa-sync fs-xl fa-spin"></i>
                </div>

                <div class="flex-1">
                  <span class="h6 m-0 fw-700">Task 55% Complete</span>
                  <div class="progress mt-1 progress-xs">
                    <div
                      class="progress-bar progress-bar-striped progress-bar-animated bg-success-600"
                      role="progressbar"
                      style="width: 55%"
                      aria-valuenow="55"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </alert>
            <alert type="alert bg-success-500 mb-3" #alert8>
              <button
                type="button"
                class="close"
                (click)="alert8.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon width-1">
                  <i class="fal fa-check fs-xl"></i>
                </div>

                <div class="flex-1">
                  <span class="h6 m-0 fw-700">Task 100% Complete</span>
                  <div class="progress mt-1 progress-xs">
                    <div
                      class="progress-bar progress-bar-striped bg-warning-500"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </alert>
            <alert
              type="alert border-info bg-transparent text-info mb-3"
              #alert9
            >
              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <i class="fal fa-exclamation-triangle"></i>
                </div>

                <div class="flex-1">
                  <span class="h5 m-0 fw-700">Compilation error occured! </span>
                </div>

                <button
                  type="button"
                  class="btn btn-info btn-pills btn-sm btn-w-m  mr-1"
                >
                  Repair
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-pills btn-sm btn-w-m"
                  (click)="alert9.close()"
                  aria-label="Close"
                >
                  Dismiss
                </button>
              </div>
            </alert>
            <alert
              type="alert border-danger bg-transparent text-secondary mb-3"
            >
              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <span class="icon-stack icon-stack-md">
                    <i class="base-7 icon-stack-3x color-danger-900"></i>
                    <i class="fal fa-times icon-stack-1x text-white"></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h5 color-danger-900"
                    >This branch is out-of-date with the base branch
                  </span>
                </div>

                <a
                  href="#"
                  smartStubClick
                  class="btn btn-outline-danger btn-sm btn-w-m"
                  >Report</a
                >
              </div>
            </alert>
            <alert type="alert border-faded bg-transparent text-secondary mb-3">
              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <span class="icon-stack icon-stack-md">
                    <i class="base-7 icon-stack-3x color-success-600"></i>
                    <i class="fal fa-check icon-stack-1x text-white"></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h5 color-success-600"
                    >All checks have passed!</span
                  >
                  <br />
                  2 successful checks
                </div>

                <a
                  href="#"
                  smartStubClick
                  class="btn btn-outline-success btn-sm btn-w-m"
                  >Review</a
                >
              </div>
            </alert>
            <alert type="alert bg-info-400 text-white mb-3">
              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <i class="fal fa-info-circle"></i>
                </div>

                <div class="flex-1">
                  <span class="h5"
                    >This branch is out-of-date with the base branch</span
                  >
                  <br />
                  Some pipes failed during build.
                </div>

                <a
                  href="#"
                  smartStubClick
                  class="btn btn-warning btn-pills btn-sm width-8"
                  >Fix</a
                >
              </div>
            </alert>
            <alert type="alert bg-fusion-400 border-0 mb-3" #alert10>
              <div class="d-flex align-items-center">
                <div class="flex-1">
                  <span class="h5">Download complete</span>
                </div>

                <button
                  class="btn btn-warning btn-w-m fw-500 btn-sm"
                  (click)="alert10.close()"
                  aria-label="Close"
                >
                  Install
                </button>
              </div>
            </alert>
            <alert type="alert bg-warning-500 mb-0" #alert11>
              <button
                type="button"
                class="close"
                (click)="alert11.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>

              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <span class="icon-stack icon-stack-sm">
                    <i class="base-7 icon-stack-3x color-fusion-200"></i>
                    <i class="base-7 icon-stack-2x color-fusion-500"></i>
                    <i class="ni ni-graph icon-stack-1x text-white"></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h5">Large Icon Stack</span>
                  <br />
                  Custom alert background with <strong>large</strong> sized icon
                  stack.
                </div>
              </div>
            </alert>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-6">
    <!--Alert outline-->
    <div id="panel-4" class="panel">
      <div class="panel-hdr">
        <h2>
          Alert <span class="fw-300"><i>Outline</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert
              type="alert border border-primary bg-transparent text-primary mb-3"
            >
              <strong>Heads up!</strong> This alert needs your attention, but
              it's not super important.
            </alert>
            <alert type="alert border-success bg-transparent text-success mb-3">
              <strong>Well Done!</strong> You successfully read this important
              alert message.
            </alert>
            <alert type="alert border-danger bg-transparent text-danger mb-3">
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </alert>
            <alert
              type="alert border-warning bg-transparent color-warning-900 mb-3"
            >
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </alert>
            <alert type="alert border-info bg-transparent text-info mb-3">
              <strong>Info!</strong> Alert for passing information to user.
            </alert>
            <alert
              type="alert border-secondary bg-transparent text-secondary mb-0"
            >
              <strong>Hello World!</strong> This is default alert message box.
            </alert>
          </div>
        </div>
      </div>
    </div>
    <!--Alternative Backgrounds-->
    <div id="panel-5" class="panel">
      <div class="panel-hdr">
        <h2>
          Alternative <span class="fw-300"><i>Backgrounds</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert type="alert bg-info-500 mb-3">
              <strong>Info!</strong> Alert for passing information to user.
            </alert>
            <alert type="alert bg-primary-200 text-white mb-3">
              <strong>Heads up!</strong> This alert needs your attention, but
              it's not super important.
            </alert>
            <alert type="alert bg-danger-400 text-white mb-3">
              <strong>Oh snap!</strong> Change a few things up and try
              submitting again.
            </alert>
            <alert type="alert bg-fusion-200 text-white mb-3">
              <strong>Hello World!</strong> This is default alert message box.
            </alert>
            <alert type="alert bg-warning-700 text-white mb-3">
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
            </alert>
            <alert type="alert bg-success-400 text-white mb-0">
              <strong> Well Done!</strong> You successfully read this important
              alert message.
            </alert>
          </div>
        </div>
      </div>
    </div>
    <!--Stack Icon-->
    <div id="panel-6" class="panel">
      <div class="panel-hdr">
        <h2>
          Stack <span class="fw-300"><i>Icon</i></span>
        </h2>
        <div class="panel-toolbar">
          <button
            class="btn btn-panel"
            data-action="panel-collapse"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Collapse"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-fullscreen"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Fullscreen"
          ></button>
          <button
            class="btn btn-panel"
            data-action="panel-close"
            data-toggle="tooltip"
            data-offset="0,10"
            data-original-title="Close"
          ></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <div class="demo-v-spacing">
            <alert #stackAlert1 type="primary mb-3">
              <button
                type="button"
                class="close"
                (click)="stackAlert1.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon width-2">
                  <span class="icon-stack" style="font-size: 22px;">
                    <i class="base-2 icon-stack-3x color-primary-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i
                      class="ni md-profile color-primary-800 icon-stack-2x"
                    ></i>
                  </span>
                </div>

                <div class="flex-1">
                  <strong>Custom stack icon size! </strong>
                  You can change the stack icon size with font-size style
                  property.
                </div>
              </div>
            </alert>

            <alert
              #stackAlert2
              type="alert border-primary bg-transparent text-primary mb-3"
            >
              <button
                type="button"
                class="close"
                (click)="stackAlert2.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon width-2">
                  <span class="icon-stack" style="font-size: 22px;">
                    <i class="base-2 icon-stack-3x color-primary-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i
                      class="ni md-profile color-primary-800 icon-stack-2x"
                    ></i>
                  </span>
                </div>

                <div class="flex-1">
                  <strong>Custom stack icon size! </strong>
                  You can change the stack icon size with font-size style
                  property.
                </div>
              </div>
            </alert>

            <alert #stackAlert3 type="success mb-3">
              <button
                type="button"
                class="close"
                (click)="stackAlert3.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon width-3">
                  <span class="icon-stack icon-stack-sm">
                    <i class="base-2 icon-stack-3x color-success-600"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i
                      class="ni md-profile color-success-800 icon-stack-2x"
                    ></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h5 m-0 fw-700">Small Icon Stack!</span>
                  Custom alert background with <strong>small</strong> sized icon
                  stack.
                </div>
              </div>
            </alert>

            <alert #stackAlert4 type="info mb-3">
              <button
                type="button"
                class="close"
                (click)="stackAlert4.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>
              <div class="d-flex align-items-center">
                <div class="alert-icon">
                  <span class="icon-stack icon-stack-md">
                    <i class="base-2 icon-stack-3x color-info-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i class="ni md-profile color-info-800 icon-stack-2x"></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h4">Medim Icon Stack</span>
                  <br />
                  Custom alert background with <strong>medium</strong> sized
                  icon stack.
                </div>
              </div>
            </alert>

            <alert #stackAlert5 type="warning mb-3">
              <button
                type="button"
                class="close"
                (click)="stackAlert5.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>

              <div class="d-flex align-items-center">
                <div class="alert-icon width-6">
                  <span class="icon-stack icon-stack-lg">
                    <i class="base-2 icon-stack-3x color-warning-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i
                      class="ni md-profile color-warning-800 icon-stack-2x"
                    ></i>
                  </span>
                </div>

                <div class="flex-1">
                  <span class="h3">Large Icon Stack</span>
                  <br />
                  Custom alert background with <strong>large</strong> sized icon
                  stack.
                </div>
              </div>
            </alert>

            <alert #stackAlert6 type="alert bg-danger-600 mb-3">
              <button
                type="button"
                class="close"
                (click)="stackAlert6.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>

              <div class="d-flex align-items-center">
                <div class="alert-icon width-8">
                  <span class="icon-stack icon-stack-xl">
                    <i class="base-2 icon-stack-3x color-danger-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i class="ni md-profile color-danger-800 icon-stack-2x"></i>
                  </span>
                </div>

                <div class="flex-1 pl-1">
                  <span class="h2">
                    Hold on there Sparky!
                  </span>
                  <br />
                  Better fix those errors before you can complete this request
                </div>
              </div>
            </alert>

            <alert #stackAlert7 type="danger mb-0">
              <button
                type="button"
                class="close"
                (click)="stackAlert7.close()"
                aria-label="Close"
              >
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
              </button>

              <div class="d-flex align-items-center">
                <div class="alert-icon width-8">
                  <span class="icon-stack icon-stack-xl">
                    <i class="base-2 icon-stack-3x color-danger-400"></i>
                    <i class="base-10 text-white icon-stack-1x"></i>
                    <i class="ni md-profile color-danger-800 icon-stack-2x"></i>
                  </span>
                </div>

                <div class="flex-1 pl-1">
                  <span class="h2">
                    Hold on there Sparky!
                  </span>
                  <br />
                  Better fix those errors before you can complete this request
                </div>
              </div>
            </alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
