@import "../../../../scss/_modules/variables.scss";
.button-group-item {
  font-size: 16px;
  padding: 10px;
  height: 45px;
  margin: 0px;
  background-color: #fff;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  color: $color-primary;
}

.button-group-select {
  background-color: $color-primary;
  color: $white;
}

.button-group-last {
  border-radius: 0px 10px 10px 0px;
}

.button-group-first {
  border-radius: 10px 0px 0px 10px;
}
