<form class="function-form-form">
  <div class="form-row mb-6">
    <div class="form-group col-xl-6">
      <label for="contact">Informe o Nome do Grupo de Atividades</label>
      <input
        class="form-control"
        id="contact"
        placeholder="Informe o Nome do Grupo de Atividades"
      />
    </div>
    <div class="form-group col-xl-12">
      <label for="contact">Descrição</label>
      <textarea
        class="form-control"
        id="contact"
        rows="5"
        placeholder="Informe uma Descrição para a Lista de Atividades"
      ></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <smart-buttons-form
        cancelButtonTitle="Cancelar"
        saveButtonTitle="Salvar"
        [showSaveAndContinueButton]="false"
      ></smart-buttons-form>
    </div>
  </div>
</form>
