<nav class="shortcut-menu hidden-sm-down">
  <input type="checkbox" class="menu-open" name="menu-open" id="menu_open" />

  <label (click)="clickButton()" for="menu_open" class="menu-open-button">
    <i class="icon-add"></i>
  </label>
</nav>
