<div class="autocomplete-search">
  <label *ngIf="showLabel" [for]="id">{{ labelName }}</label>
  <div class="autocomplete-search-input">
    <form [formGroup]="form">
      <input
        [ngClass]="{ 'autocomplete-search-input-big': isBig }"
        class="form-control"
        autocomplete="off"
        [id]="id"
        formControlName="search"
        placeholder="{{ placeholderName }}"
      />
      <i
        [ngClass]="{
          'icon-arrow-big': isBig,
          'icon-chevron-do': true,
          'autocomplete-search-input-icon-opened': isOpen,
          'autocomplete-search-input-icons': true,
          'icon-arrow': true
        }"
        *ngIf="!isSearch"
        alt="icone flexa"
      ></i>
      <i
        [ngClass]="{ 'icon-arrow-big': isBig }"
        *ngIf="isSearch"
        class="autocomplete-search-input-icons icon-search"
        src="assets/img/icons/icon-search.svg"
        alt="icone lupa"
      ></i>
    </form>
  </div>

  <div *ngIf="isOpen" class="autocomplete-search-options">
    <ul class="select-autocomplete-list">
      <li
        *ngFor="let item of itemsResult"
        class="select-autocomplete-list-item"
      >
        <button (click)="selectItem(item)" type="button">
          <span class="select-autocomplete-list-item-title">{{
            item.name
          }}</span>
          <span class="select-autocomplete-list-item-subtitle">{{
            item.name
          }}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
