.autocomplete-search {
  position: relative;
  .autocomplete-search-input {
    position: relative;

    .icon-arrow {
      right: 12px;
      top: 18px;
      font-size: 18px;
    }
    .icon-arrow-big {
      top: 12px !important;
    }

    .icon-search {
      top: 10px;
      left: 10px;
      font-size: 18px;
    }
    .autocomplete-search-input-icons {
      position: absolute;
      transition: all 0.4s ease;
      color: #b0bec5;
    }
    .autocomplete-search-input-icon-opened {
      transform: rotateZ(180deg);
    }
    input {
      padding-left: 35px;
    }
  }

  .autocomplete-search-input-big {
    height: 50px;
  }

  .autocomplete-search-options {
    position: absolute;
    width: 99%;
    margin-left: 2px;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    overflow-x: visible;
    max-height: 300px;

    .select-autocomplete-list {
      width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .select-autocomplete-list-item {
        list-style: none;
        flex: 1;
        padding: 0px 15px;
      }

      .select-autocomplete-list-item button {
        list-style: none;
        color: #697b8c;
        background-color: white;
        border: none;
        padding: 20px;
        font-size: 12px;
        height: 100px;
        width: 100%;
        line-height: 19px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #c4cbd2;

        .select-autocomplete-list-item-title {
          font-weight: bold;
          font-size: 16px;
        }
        .select-autocomplete-list-item-subtitle {
          font-weight: 300;
        }
      }
      .select-autocomplete-list-item button:hover {
      }
    }
  }
}

::-webkit-scrollbar {
  // border-right: 1.5px solid #cfd8dc;
  // width: 7px;
  display: none;
}

// ::-webkit-scrollbar-track {
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #ccc;
//   width: 5px;
//   border-radius: 10px;
// }
