@import "../../../../scss/_modules/variables.scss";

.nav-link-container {
  display: flex;
  width: 80%;
  align-items: center;
}

.nav-link-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 25px;
    color: #51d95f;
  }
}

.icon-foward {
  color: #fff;
}
.nav-link-item {
  display: flex;
  justify-content: center;
  position: static;
}

.nav-link-item-unique {
  display: flex;
  justify-content: center;
  position: static;
}

.nav-link-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .nav-link-text {
    text-align: center;
  }
  color: #0b2d4b;
}

.nav-link-is-active {
  border-left: 4px solid $color-primary;
}

.menu-mobile {
  display: none !important;
  padding: 0px !important;

  .list-float-responsive {
    width: 100%;
    border-radius: 12px;
    padding: 0px !important;
    .list-float-item {
      list-style: none;
      padding: 0px 10px;
      a {
        padding: 15px 10px;
        border-radius: 5px;
        margin: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #697b8c;
          font-weight: bold;
          font-size: 16px;
        }

        &:hover {
          background-color: $color-primary;

          span {
            color: $white;
          }
        }
      }
    }
  }
}

.icon-chevron-do:before {
  transition: all 300ms;
}

.icon-chevron-do__opened:before {
  transform: rotate(180deg) !important;
}

.menu-mobile {
  @media screen and (max-width: 993px) {
    display: block !important;
  }
}

.menu-lateral-float-open {
  display: block;
}

.menu-lateral-float {
  display: block;
  height: 100px;
  visibility: visible;
  transition: 1s all 1s;
  position: absolute;
  width: 0px;
  display: none;
  min-height: 100px;
  left: 10.2rem;
  width: 250px;
  border-radius: 12px;
  margin: 10px 0px;

  @media screen and (max-width: 993px) {
    display: none !important;
    .list-float {
      display: none !important;
    }
  }

  .list-float {
    width: 100%;
    display: block;
    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 15px;

    .list-float-item {
      list-style: none;
      a {
        border-radius: 5px;
        padding: 15px 10px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: #697b8c;
          font-weight: bold;
          font-size: 16px;
        }

        &:hover {
          background-color: $color-primary;

          span {
            color: $white;
          }
        }
      }
    }
  }
  .list-float:before {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    left: -15px;
    top: 30px;
  }
}

.menu-lateral-float-open {
  display: block;
}
