<ng-container *ngIf="item.items && item.routerLink">
  <a
    (click)="toggleSection($event)"
    title="{{ item.title }}"
    class="nav-link-item"
    href=""
    (click)="toogleMenu()"
  >
    <div class="nav-link-container">
      <div class="nav-link-content nav-link-content-menu">
        <i [class]="item.icon"></i>

        <div *ngIf="!minified" class="nav-link-container-title">
          <span class="nav-link-text">{{ item.title }}</span>
        </div>
      </div>
      <div [ngClass]="{ 'menu-mobile-opened': item.open }" class="menu-mobile">
        <i
          [ngClass]="{
            'icon-chevron-do': true,
            'icon-chevron-do__opened': item.open
          }"
        ></i>
      </div>
    </div>
    <div
      [ngClass]="{ 'menu-lateral-float-open': openMenu }"
      class="menu-lateral-float"
    >
      <ul class="list-float">
        <li
          routerLink="{{ subItem.routerLink }}"
          class="list-float-item"
          *ngFor="let subItem of item.items"
        >
          <a routerLink="{{ subItem.routerLink }}">
            <span>{{ subItem.title }}</span>
            <i class="icon-foward"></i>
          </a>
        </li>
      </ul>
    </div>
  </a>
  <ul
    class="menu-mobile"
    [@slideInOut]
    *ngIf="item.open || minified || item.matched !== null"
  >
    <ul class="list-float-responsive">
      <li class="list-float-item" *ngFor="let subItem of item.items">
        <a routerLink="{{ subItem.routerLink }}">
          <span>{{ subItem.title }}</span>
          <i class="icon-foward"></i>
        </a>
      </li>
    </ul>
  </ul>
</ng-container>

<ng-container *ngIf="item.navTitle">
  {{ item.title }}
</ng-container>

<ng-container *ngIf="!item.items && item.routerLink">
  <a
    title="{{ item.title }}"
    class="nav-link-item-unique"
    [routerLinkActive]="['nav-link-is-active']"
    routerLink="{{ item.routerLink }}"
  >
    <div class="nav-link-container">
      <div class="nav-link-content">
        <i [class]="item.icon"></i>
        <div *ngIf="!minified" class="nav-link-container-title">
          <span class="nav-link-text">{{ item.title }}</span>
        </div>
      </div>
    </div>
  </a>
</ng-container>

<ng-container *ngIf="item.navTitle">
  {{ item.title }}
</ng-container>
