<div *ngIf="_error">
  <img
    class="form-field-error__icon"
    [src]="icons.error"
    alt="icone de status do formulário"
  />
  <div *ngIf="_message" class="error-msg">
    {{ _message }}
  </div>
</div>
