<smart-container-form>
  <div class="content">
    <div class="effect-form">
      <form class="effect-form-form">
        <div class="effect-form-content">
          <div>
            <div class="form-row">
              <div class="form-group col-xl-12">
                <smart-select-autocomplete-search
                  labelName="Efeitos/Danos"
                  placeholderName="Pesquise pelo Nome do Efeito/Dano"
                >
                </smart-select-autocomplete-search>
              </div>
              <div class="form-group col-xl-4">
                <label for="name">Código eSocial</label>
                <input
                  class="form-control"
                  id="name"
                  placeholder="Informe o nome"
                />
              </div>
              <div class="form-group col-xl-4">
                <label for="description"
                  >Descrição Natureza Lesão eSocial</label
                >
                <input
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Descrição Natureza Lesão eSocial"
                />
              </div>
              <div class="form-group col-xl-4">
                <label for="description">Nome Reduzido</label>
                <input
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Informe o nome reduzido"
                />
              </div>
            </div>
          </div>
          <smart-buttons-form></smart-buttons-form>
        </div>
      </form>
    </div>
  </div>
</smart-container-form>
