@import "../../../../../scss/_modules/variables.scss";

.content {
  height: 100%;
}

.effect-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;

  .effect-form-form {
    flex: 1;
  }

  .effect-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
