.custormer {
  background-color: $white;
  width: 100%;
  min-height: 250px;
  max-width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;

  .custormer__menu {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    padding: 0px;
    border-radius: 50%;
    color: #697b8c;
    font-size: 26px;
  }

  .custormer__menu__menu-dropdown {
    top: 140% !important;
    border-radius: 10px;
    box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.18);
    right: -5px !important;
    padding: 0px !important;
    min-width: 180px;
    &::before {
      content: "";
      position: absolute;
      margin-top: -20px;
      right: 10px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #fff;
      border-style: solid;
      border-width: 0 12px 20px 12px;
      border-color: transparent transparent #fff transparent;
      clear: both;
    }
    .menu-item-dropdown {
      color: #343a40 !important;
      padding: 5px;
      .dropdown-item {
        font-size: 16px;
        display: flex;
        align-items: center;
        border-radius: 5px;

        padding: 0.75rem 0.75rem !important;
        i {
          color: #51d95f;
          margin-right: 8px;
          font-size: 17px;
        }
      }
      .dropdown-item:hover {
        background-color: #51d95f;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }

  .avatar {
    background-color: $color-primary;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
    .avatar-title {
      font-size: 18px;
      margin: 0px;
      font-weight: bold;
      color: $white;
    }
  }
  .title {
    margin: 0px;
    color: $gray-800;
    margin-bottom: 5px;
  }
  .date_created {
    color: $gray-500;
  }
  .info-item {
    color: $gray-500;
    margin-bottom: 0.1rem;
  }
}
