@mixin toast-basic {
  box-shadow: none !important;
  border-radius: 10px !important;
  min-width: 350px !important;
  max-width: 500px !important;
}

.toast__success {
  @include toast-basic;
  background-color: #51d95f !important;
  color: #fff !important;
  background-image: url("/assets/img/icons/icon-toast-success.svg");
}

.toast__error {
  @include toast-basic;
  background-color: #eb4949 !important;
  background-image: url("/assets/img/icons/icon-toast-error.svg");
}

.toast__warning {
  @include toast-basic;
  background-color: #eaa800 !important;
  background-image: url("/assets/img/icons/icon-toast-warning.svg");
}

.toast__info {
  @include toast-basic;
  background-color: #0896ff !important;
  background-image: url("/assets/img/icons/icon-toast-info.svg");
}
