.list-table {
  border-collapse: separate;
  width: 100%;
  tr {
    .list-table-item {
      border-radius: 12px !important;
      border: 1px solid #cfd8dc;
      margin-top: -3px;
      padding: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      margin-right: 0px !important;
      margin-left: 0px !important;

      .list-table-item__value {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #355c80;
      }

      .buttons {
        .table-buttons {
          background: $info-300;
          border-radius: 6px;
          color: $white;
          margin-right: 10px;
        }
        .button-detail {
          background-color: $color-primary;
        }
        .button-danger {
          background: #eb4949;
          color: #fff;
          min-width: 70px;
          border: none;
        }
      }

      .thumbnail {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .avatar {
          width: 37px;
          height: 37px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: green;
          margin: 0px 10px;
          span {
            color: $white;
          }
        }
        .names {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .list-table-item-selected {
      background-color: $color-hover-table;
    }
    .list-table-item:hover {
      background-color: $gray-200;
    }
    .list-table-item-selected:hover {
      background-color: $color-hover-table;
    }
  }
}

.list-search-bar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0px;
  flex-wrap: wrap;

  .search {
    display: flex;
    align-items: center;
    .search-input {
      width: 290px;
      margin-right: 15px;
    }
  }
}
