/* text area */
.form-content-editable[contenteditable="true"] {
  overflow: auto;
  -webkit-user-modify: read-write-plaintext-only;

  line-height: normal;

  &:focus {
    outline: 0;
  }

  &:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: $fusion-50;
  }

  &::selection {
    background: rgba(0, 132, 255, 0.2);
    color: $black;
  }

  &::-moz-selection {
    background: rgba(0, 132, 255, 0.2);
    color: $black;
  }
}

.form-label {
  font-weight: 500;
}

/* fix */
.custom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-range::-moz-range-thumb {
  -moz-appearance: none;
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.input-prefix {
  border: $input-border-width solid #cfd8dc;
  border: 1.5px solid #cfd8dc;
  border-radius: 6px;
  height: 40px;
  color: $gray-700;
}

.form-control {
  border: $input-border-width solid #cfd8dc;
  border: 1.5px solid #cfd8dc;
  border-radius: 6px;
  height: 40px;
  color: $gray-700;

  label {
    color: #355c80 !important;
  }
  &.ng-touched.ng-invalid {
    padding-right: 25px;
    border-color: $color-danger !important;
  }
}

.form-control:focus {
  color: $gray-700;
  border-color: #cfd8dc;
}

/* add background to focused inpur prepend and append */
.form-control:focus ~ .input-group-prepend {
  background: rgba(0, 132, 255, 0.2);
}
.has-length {
  .input-group-text {
    border-color: $primary-500;
    & + .input-group-text {
      border-left: 1px solid rgba($black, 0.1);
    }
  }
  .input-group-text:not([class^="bg-"]):not([class*=" bg-"]) {
    background: red;
    color: $white !important;
  }
}
.input-group-text {
  transition: all 0.15s ease-in-out;
}

/* input group animation for multiple inputs */
.input-group.input-group-multi-transition {
  input[type="text"] {
    transition: width 470ms cubic-bezier(0.34, 1.25, 0.3, 1);
    &:focus {
      width: 50%;
    }
  }
}

/* BS form hack for checkbox tick mark */
.custom-checkbox .custom-control-label::after {
  background-size: $custom-control-indicator-bg-size-checkbox;
}

/* circle checkbox */
.custom-checkbox-circle {
  .custom-control-label:before {
    border-radius: 50%;
  }
}
/* rounded radio */
.custom-radio-rounded {
  .custom-control-label:before {
    border-radius: 4px;
  }
}

/* not sure if we need this? */
/*.custom-control {
	min-height: $custom-control-indicator-size;
}*/

/* make checked label bold */
input[type="radio"]:checked + .custom-control-label,
input[type="checkbox"]:checked + .custom-control-label {
  font-weight: 500;
}

/* help block and validation feedback texts*/
.help-block {
  color: $fusion-50;
}

/* on feedback error */
.help-block,
.invalid-feedback,
.valid-feedback {
  font-size: rem($fs-nano);
  margin-top: 0.325rem;
}

/* when form group is last child show now margin */
.form-group:last-child,
.form-group:only-child {
  margin-bottom: 0;
}

/* fix alignment for generic checkbox and radio */
.form-check-input {
  margin-top: 0;
}
.form-check-label {
  display: flex;
  align-items: center;
}
.form-check {
  margin: 5px 0;
}

.title-collapse {
  color: #0b2d4b;
  font-size: 20px;
  font-weight: normal;
}

.input-filter-search {
  border: none;
  border-bottom: 1px solid rgba(176, 190, 197, 0.3);
  width: 240px;
  padding-bottom: 5px;
}

.button-light {
  color: #0896ff;
  border: 1px solid #0896ff;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 22px;
}

.tooltip-example {
  text-align: center;
  padding: 0 50px;
}
.tooltip-example [tooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 2px solid #b0bec5;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.ng-tooltip {
  position: absolute;
  font-size: 14px;
  text-align: center;
  color: #b0bec5;
  padding: 3px 8px;
  background: #ffffff;
  border-radius: 12px;
  z-index: 100000;
  border: 2px solid #b0bec5;
}
.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -22px;
  border-width: 8px;
  border-color: #b0bec5 transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #b0bec5 transparent;
}
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent #b0bec5;
}
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

input .ng-dirty.ng-invalid {
  border-color: #eb4949 !important;
}

.warning-info {
  border: 2px solid #dd9700 !important;
}

.warning-success {
  border: 2px solid #51d95f !important;
}

.icon-input {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 18px;
  color: #e0e5e7;
  font-size: 18px;
}

.auth__input {
  border: 1px solid #cacfe7;
  border-radius: 3px;
  padding-left: 40px;
  min-height: 42px;
}

.message-error {
  color: $color-danger;
  margin-top: 8px;
}

.icon-danger {
  position: absolute;
  right: 17px;
  top: 31px;
  color: #eb4949;
}

.icon-danger-form {
  position: absolute;
  right: 17px;
  top: 37px;
}

.btn-auth-title {
  font-weight: normal !important;
}

.btn-auth-primary {
  background: #fff;
  border-radius: 2px;
  height: 40px;
  border: 1px solid #28d094;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28d094;

  i {
    margin-right: 8px;
    font-size: 16px;
  }
}
.btn-auth-orange {
  background: #fff;
  border-radius: 2px;
  height: 40px;
  border: 1px solid #f48220;
  transition: 0.3s;
  color: #f48220;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 8px;
    font-size: 16px;
  }
}

.btn-auth-primary:hover {
  background: #28d094;
  color: #fff;
}
.btn-auth-orange:hover {
  background: #f48220;
  color: #fff;
}

.connect {
  color: $info-500;
}
.cont {
  color: $color-orange;
}

.alert-danger {
  background: #ff909f;
  border: 1px solid #ff4961;
  box-sizing: border-box;
  border-radius: 3px;
  color: #960014;
  display: flex;
  justify-content: center;
}

.alert-success {
  background: #51d95f;
  color: #fff;
  border-color: #41af4c;
}

.icon-input {
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  top: 30px !important;
  left: 18px !important;
}
