.page-sidebar {
  @extend %nav-bg;
  position: relative;
  flex: 1 0 auto;
  width: $nav-width;
  max-width: 300px;
  flex-direction: column;
  display: flex;
  z-index: $depth-nav;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  will-change: left, right;
  height: 100%;
}
