.search {
  width: 70%;

  .app-forms {
    padding: 0;

    &.has-length {
      position: relative;
    }

    &:before {
      content: none;
    }
  }
}

#search-field {
  max-width: 100%;
  height: 50px;
  border-radius: 12px;
  line-height: normal;
  border-radius: $header-btn-border-radius;
  background: $white;
  border: 1px solid $header-search-border-color;
  box-shadow: none;
  font-size: rem($header-search-font-size);
  padding: $header-search-padding;
}
