.tooltip-inner {
  font-family: $page-font;
  font-weight: 500;
  box-shadow: $box-shadow-sm;
  background-color: $color-primary;
}
/*.tooltip .arrow {
	display: none;
}*/

.bs-tooltip-left .arrow::before {
  border-left-color: green;
}
