$mb-base: 30px;

.feedback-modal-success__header {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: flex-end;
}

.feedback-modal-success {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;

  .icon-feedback {
    font-size: 50px;
  }

  .icon-check {
    color: #51d95f;
  }
  .icon-remove {
    color: #eb4949;
  }

  .feedback-modal-success__icon {
    margin-bottom: $mb-base;
  }
  .feedback-modal-success__icon__message {
    margin-bottom: $mb-base;
    text-align: center;
  }
  .feedback-modal-success__icon__button {
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #0896ff;
  }
}
