<div
  *ngIf="isModalShown"
  [config]="{ show: true }"
  (onHidden)="onHidden()"
  bsModal
  #autoShownModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header feedback-modal-success__header">
        <button type="button" aria-label="Close" (click)="hideModal()">
          <i class="icon-close icon-close-modal"></i>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="feedback-modal-success h-75 d-flex flex-column align-items-center justify-content-around"
        >
          <i
            [ngClass]="{
              'icon-check': showSuccess,
              'icon-remove': !showSuccess,
              'icon-feedback': true
            }"
            class="icon-check"
          ></i>

          <h1 class="feedback-modal-success__icon__message">
            {{ title }}
          </h1>
          <button
            (click)="hideModal()"
            class="feedback-modal-success__icon__button"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
