<div class="form-header">
  <form class="form-header-form">
    <div class="form-header-content">
      <div>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-newcustomer"
          #panelNewCustomer
        >
          <div panelTitle class="title-collapse">
            Dados pessoais
          </div>
          <div panelContent id="isCollapsedDataCustomer">
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <label for="fimV">Matrícula</label>
                <input
                  class="form-control"
                  placeholder="Informe a matrícula"
                  formControlName="name"
                />
              </div>
              <div class="form-group col-sm-6 col-md-6 col-lg-8 col-xl-8">
                <label for="fimV">Nome completo</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  placeholder="Informe o Nome completo"
                  formControlName="name"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <label for="fimV">Data de Nascimento</label>
                <input
                  class="form-control"
                  placeholder="Selecione a data de nascimento"
                  bsDatepicker
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <label for="fimV">NIS (PIS, PASEP ou NIT)</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  placeholder="Informe o RG"
                  formControlName="name"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <label for="fimV">CPF</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  mask="000.000.000-00"
                  placeholder="Informe o número"
                  formControlName="name"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <smart-select-autocomplete-search
                  labelName="Gênero"
                  placeholderName="Selecione o gênero"
                ></smart-select-autocomplete-search>
              </div>
            </div>
          </div>
        </smart-panel>

        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Cnae"
          #panelCnae
        >
          <div panelTitle class="title-collapse">
            Dados de admissão
          </div>
          <div panelContent id="isCollapsedCNA">
            <div class="form-row">
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
              >
                <label for="dtVis">Data de admissão</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="dtVis"
                  bsDatepicker
                  formControlName="lastName"
                  placeholder="Selecione a data de admissão"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
              >
                <smart-select-autocomplete-search
                  labelName="Ambiente de Trabalho"
                  placeholderName="Selecione o Ambiente de Trabalho"
                  [isSearch]="false"
                ></smart-select-autocomplete-search>
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
              >
                <smart-select-autocomplete-search
                  labelName="Setor"
                  placeholderName="Selecione o setor"
                  [isSearch]="false"
                ></smart-select-autocomplete-search>
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
              >
                <smart-select-autocomplete-search
                  labelName="Cargo"
                  placeholderName="Selecione o cargo"
                  [isSearch]="false"
                ></smart-select-autocomplete-search>
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4"
              >
                <label for="qtM">CBO</label>
                <input
                  id="qtM"
                  class="form-control"
                  autocomplete="off"
                  type="number"
                  placeholder="Informe o CBO"
                />
              </div>
              <div class="form-group col-12 col-md-12 col-lg-6 col-xl-4">
                <label for="qtH">Categoria</label>
                <input
                  id="qtH"
                  class="form-control"
                  autocomplete="off"
                  type="number"
                  placeholder="Informe a categoria"
                />
              </div>
            </div>
          </div>
        </smart-panel>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Address"
          #panelAddress
        >
          <div panelTitle class="title-collapse">
            Endereço
          </div>
          <div panelContent id="isCollapsedAddress">
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-6 col-lg-2 col-xl-3">
                <label>CEP</label>
                <input
                  class="form-control"
                  mask="00000-000"
                  placeholder="Informe o CEP"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2"
              >
                <smart-select-autocomplete-search
                  [isSearch]="false"
                  placeholderName="Selecione o tipo"
                  labelName="Tipo"
                >
                </smart-select-autocomplete-search>
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-5 col-xl-5"
              >
                <label for="Logradouro">Logradouro</label>
                <input
                  id="Logradouro"
                  class="form-control"
                  placeholder="Informe o Endereço"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-2 col-xl-2"
              >
                <label for="numero">Número</label>
                <input
                  id="numero"
                  type="number"
                  class="form-control"
                  placeholder="Informe o Número"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"
              >
                <label for="estado">Estado</label>
                <input class="form-control" id="estado" placeholder="Estado" />
              </div>
              <div class="form-group col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <label for="cidade">Cidade</label>
                <input
                  class="form-control"
                  id="cidade"
                  placeholder="Informe a Cidade"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"
              >
                <label for="bairro">Bairro</label>
                <input
                  class="form-control"
                  id="bairro"
                  placeholder="Informe o Bairro"
                />
              </div>
              <div
                class="form-group col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"
              >
                <label for="numero">Complemento</label>
                <input
                  id="numero"
                  type="number"
                  class="form-control"
                  placeholder="Informe o Complemento"
                />
              </div>
            </div>
          </div>
        </smart-panel>
      </div>
      <div class="w-100 mt-5">
        <smart-buttons-form></smart-buttons-form>
      </div>
    </div>
  </form>
</div>
