<smart-connect-con-container>
  <form
    [formGroup]="form"
    (ngSubmit)="formSubmit()"
    class="form-sign-in"
    was-validated
  >
    <div *ngFor="let alert of alerts">
      <alert
        [type]="alert.type"
        [dismissOnTimeout]="alert.timeout"
        (onClosed)="onClosed(alert)"
        >{{ alert.msg }}</alert
      >
    </div>
    <div class="title-container">
      <span class="title">
        Conta <strong class="connect">Connect</strong
        ><strong class="cont">Cont</strong>
        <a
          class="link"
          href="https://app.contmaticcontadoronline.com.br/contaconnectcont"
          >Oque é isto?</a
        >
      </span>
    </div>
    <div class="form-row">
      <div class="form-group col-xl-12">
        <i class="icon-connect-cont-user icon-input"></i>
        <label for="username"></label>
        <input
          type="text"
          formControlName="username"
          class="form-control auth__input"
          id="username"
          placeholder="Usuário"
        />
        <div *ngIf="f.username.invalid && f.username.touched">
          <i class="icon-close icon-danger"></i>

          <span class="message-error" *ngIf="f.username.errors.required"
            >O usuário é obrigatório</span
          >
          <span class="message-error" *ngIf="f.username.errors.pattern">
            Usuário inválido
          </span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xl-12">
        <i class="icon-connect-cont-password icon-input"></i>
        <label for="password"></label>
        <input
          formControlName="password"
          type="password"
          class="form-control auth__input"
          id="password"
          placeholder="Senha"
        />
        <div *ngIf="f.password.invalid && f.password.touched">
          <i class="icon-close icon-danger"></i>
          <span class="message-error" *ngIf="f.password.errors.required"
            >A senha é obrigatório</span
          >
        </div>
      </div>
    </div>
    <div class="not-access-account">
      <div class="remember">
        <input
          class="remember__checkbox"
          type="checkbox"
          name=""
          id="remember"
        />
        <label class="remember__label" for="remember">
          Lembre-me
        </label>
      </div>
      <a
        class="link"
        [routerLink]="['/recuperar-senha']"
        routerLinkActive="router-link-active"
        >Não consegue acessa a conta?</a
      >
    </div>

    <button type="submit" class="sign-in__button-submit">
      <i class="icon-connect-cont-connect"></i>
      <span class="access-button-title">CONECTAR</span>
    </button>
  </form>
</smart-connect-con-container>
