@import "../../../scss/_modules/variables.scss";

.form-sign-in {
  width: 100%;
  margin-top: 50px;

  .invalid-feedback span {
    font-size: 13px;
  }
  .title-container {
  }
  .form-control {
    border-width: 1px;
    border-radius: 3px;
  }

  .input-prefix {
    border-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .title {
    font-size: 13px;

    .connect {
      color: $info-500;
    }
    .cont {
      color: $color-orange;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }

  .input-prefix {
    background-color: $white;
  }

  .sign-in__button-submit {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    background-color: $white;
    border: 1px solid #5bc0de;
    color: #1e9ff2;
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;

    i {
      margin-right: 5px;
    }
  }
  .sign-in__button-submit:hover {
    background-color: #5bc0de;
    color: $white;
  }

  .access-icon-lock {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .button-submit:disabled {
    cursor: not-allowed !important;
  }

  .not-access-account {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .link {
    color: $color-info;
    text-align: right;
    margin-left: 5px;
    text-decoration: none;
  }
}

.remember {
  display: flex;
  align-items: center;
  .remember__checkbox {
    border: 10px solid #ff7184;
    border-radius: 3px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  .remember__label {
    font-size: 12px;
    color: #000000;
    margin: 0px;
  }
}
