<smart-container-form>
  <div class="steps content">
    <div class="steps--mobile">
      <div class="steps--mobile__header">
        <div class="steps--mobile__header__info">
          <div class="steps--mobile__header__info__counter">
            <span>1 de 4</span>
          </div>
          <div class="steps--mobile__header__info__content__titles">
            <span class="steps--mobile__header__info__content__titles__title"
              >Passo 1</span
            >
            <span class="steps--mobile__header__info__content__titles__subtitle"
              >Detalhes do Passo 1</span
            >
          </div>
        </div>
        <div class="steps--mobile__header__feedback">
          <img
            *ngIf="false"
            src="assets/img/icons/icon-danger.svg"
            alt="icon-danger"
          />
          <img
            class="steps--mobile__header__feedback__icon-success"
            *ngIf="true"
            src="assets/img/icons/icon-success.svg"
            alt=""
          />
        </div>
      </div>
      <div class="steps--mobile__content">
        <smart-slide-panel>
          <ng-template>
            <smart-basic-infos-step
              [form]="formBasicInfo"
            ></smart-basic-infos-step>
          </ng-template>
          <ng-template>
            <smart-register-risk-step></smart-register-risk-step>
          </ng-template>
          <ng-template>
            <smart-metering-step></smart-metering-step>
          </ng-template>
          <ng-template>
            <smart-schedule-actions-step></smart-schedule-actions-step>
          </ng-template>
          <ng-template>
            <smart-finalization-step></smart-finalization-step>
          </ng-template>
        </smart-slide-panel>
      </div>
    </div>

    <ul class="steps-list">
      <li
        class="steps-list-item"
        [ngClass]="{ 'steps-list-item-opened': !collapseInfo.isOpen }"
      >
        <div class="item-header">
          <button
            class="steps-list-item-button"
            [ngClass]="{
              'steps-list-item-button-opened': !collapseInfo.isOpen
            }"
            (click)="collapseInfo.isOpen = !collapseInfo.isOpen"
          >
            <span *ngIf="collapseInfo.isOpen">1</span>
            <i
              *ngIf="!collapseInfo.isOpen"
              class="icon-check-inpu steps-list-item-button__icon-okay"
            ></i>
          </button>
          <div class="titles">
            <h3 class="title-principal">Informações Básicas</h3>
            <span class="title-secundary">
              Selecionar empresa e dados do cabeçalhos</span
            >
          </div>
        </div>
        <div
          class="item-container"
          id="collapseBasic"
          [collapse]="collapseInfo.isOpen"
          [isAnimated]="true"
        >
          <span class="line"></span>
          <div
            class="item-content"
            [ngClass]="{ 'item-content-opened': !collapseInfo.isOpen }"
          >
            <smart-basic-infos-step
              [form]="formBasicInfo"
            ></smart-basic-infos-step>
          </div>
        </div>
      </li>
      <li
        class="steps-list-item"
        [ngClass]="{ 'steps-list-item-opened': !collapseRisks.isOpen }"
      >
        <div class="item-header">
          <button
            class="steps-list-item-button"
            [ngClass]="{
              'steps-list-item-button-opened': !collapseRisks.isOpen
            }"
            (click)="collapseRisks.isOpen = !collapseRisks.isOpen"
          >
            <span>2</span>
          </button>
          <div class="titles">
            <h3 class="title-principal">Riscos</h3>
            <span class="title-secundary">
              Registrar riscos e medidas de controle</span
            >
          </div>
        </div>
        <div
          class="item-container"
          id="collapseBasic"
          [collapse]="collapseRisks.isOpen"
          [isAnimated]="true"
        >
          <span class="line"></span>
          <div
            class="item-content"
            [ngClass]="{ 'item-content-opened': !collapseRisks.isOpen }"
          >
            <smart-register-risk-step></smart-register-risk-step>
          </div>
        </div>
      </li>
      <li
        class="steps-list-item"
        [ngClass]="{ 'steps-list-item-opened': !collapseGeneralData.isOpen }"
      >
        <div class="item-header">
          <button
            class="steps-list-item-button"
            [ngClass]="{
              'steps-list-item-button-opened': !collapseGeneralData.isOpen
            }"
            (click)="collapseGeneralData.isOpen = !collapseGeneralData.isOpen"
          >
            <span *ngIf="collapseGeneralData.isOpen">3</span>

            <i
              *ngIf="!collapseGeneralData.isOpen"
              class="icon-check-inpu steps-list-item-button__icon-okay"
            ></i>
          </button>
          <div class="titles">
            <h3 class="title-principal">Medições</h3>
            <span class="title-secundary"> Medir ruídos e Iluminação</span>
          </div>
        </div>
        <div
          class="item-container"
          id="collapseBasic"
          [collapse]="collapseGeneralData.isOpen"
          [isAnimated]="true"
        >
          <span class="line"></span>
          <div
            class="item-content"
            [ngClass]="{ 'item-content-opened': !collapseGeneralData.isOpen }"
          >
            <smart-metering-step></smart-metering-step>
          </div>
        </div>
      </li>
      <li
        class="steps-list-item"
        [ngClass]="{
          'steps-list-item-opened': !collapseScheduleActions.isOpen
        }"
      >
        <div class="item-header">
          <button
            class="steps-list-item-button"
            [ngClass]="{
              'steps-list-item-button-opened': !collapseScheduleActions.isOpen
            }"
            (click)="
              collapseScheduleActions.isOpen = !collapseScheduleActions.isOpen
            "
          >
            <span *ngIf="collapseScheduleActions.isOpen">4</span>
            <i
              *ngIf="!collapseScheduleActions.isOpen"
              class="icon-check-inpu steps-list-item-button__icon-okay"
            ></i>
          </button>
          <div class="titles">
            <h3 class="title-principal">Cronograma de ações</h3>
            <span class="title-secundary">Informar ações necessárias </span>
          </div>
        </div>
        <div
          class="item-container"
          id="collapseBasic"
          [collapse]="collapseScheduleActions.isOpen"
          [isAnimated]="true"
        >
          <span class="line"></span>
          <div
            class="item-content"
            [ngClass]="{
              'item-content-opened': !collapseScheduleActions.isOpen
            }"
          >
            <smart-schedule-actions-step></smart-schedule-actions-step>
          </div>
        </div>
      </li>
      <li
        class="steps-list-item"
        [ngClass]="{
          'steps-list-item-opened': !collapseFinalization.isOpen
        }"
      >
        <div class="item-header">
          <button
            class="steps-list-item-button"
            [ngClass]="{
              'steps-list-item-button-opened': !collapseFinalization.isOpen
            }"
            (click)="collapseFinalization.isOpen = !collapseFinalization.isOpen"
          >
            <span *ngIf="collapseFinalization.isOpen">5</span>
            <i
              *ngIf="!collapseFinalization.isOpen"
              class="icon-check-inpu steps-list-item-button__icon-okay"
            ></i>
          </button>
          <div class="titles">
            <h3 class="title-principal">Finalização</h3>
            <span class="title-secundary"> Assinatura PPRA </span>
          </div>
        </div>
        <div
          class="item-container"
          id="collapseBasic"
          [collapse]="collapseFinalization.isOpen"
          [isAnimated]="true"
        >
          <span class="line"></span>
          <div
            class="item-content"
            [ngClass]="{
              'item-content-opened': !collapseFinalization.isOpen
            }"
          >
            <smart-finalization-step></smart-finalization-step>
          </div>
        </div>
      </li>
    </ul>
    <smart-buttons-form
      cancelButtonTitle="Voltar"
      saveButtonTitle="Salvar"
      (saveButtonClick)="next()"
      (cancelButtonClick)="prev()"
      [showSaveAndContinueButton]="false"
    ></smart-buttons-form>
  </div>
</smart-container-form>
