:host {
  width: 100%;
  display: inline-block;
}

.steps {
  display: flex;
  flex-direction: column;
  width: 100%;

  .steps--mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
    .steps--mobile__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0px;
      padding: 0px 5px;
      // box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);

      .steps--mobile__header__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .steps--mobile__header__info__counter {
          margin-right: 10px;
          border-radius: 50%;
          border: 2px solid #697b8c;
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          width: 60px;
        }
        .steps--mobile__header__info__content__titles {
          display: flex;
          flex-direction: column;
          color: #37474f;
          .steps--mobile__header__info__content__titles__title {
            font-weight: bold;
            font-size: 22px;
          }
        }
      }
      .steps--mobile__header__feedback {
      }
    }
  }

  .steps-list {
    margin: 0px;
    padding: 0px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .steps-list-item::after {
      content: "";
      display: block;
      height: 20px;
      width: 3px;
      background-color: #cbcbcb;
      margin-left: 21.5px;
    }

    .steps-list-item-opened::after {
      background-color: #51d95f;
    }

    .steps-list-item:last-child::after {
      content: none;
    }

    .steps-list-item {
      list-style: none;
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: center;

      .item-header {
        display: flex;
        padding: 0px;
        align-items: flex-end;

        .titles {
          display: flex;
          margin-left: 5px;
          flex-direction: column;
          color: #37474f;

          .title-principal {
            font-weight: bold;
            margin: 2px 0px;
          }
        }

        .steps-list-item-button {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #c4c4c4;
          background-color: white;
          border: 1px solid #c4c4c4;
          font-weight: bold;
          font-size: 22px;
          margin: 0px;
          .steps-list-item-button__icon-okay {
            font-size: 22px;
            color: #fff;
          }
        }
        button:disabled {
          cursor: not-allowed;
        }
        .steps-list-item-button-opened {
          color: #fff;
          background-color: #51d95f;
          border-color: #fff;
        }
      }

      .item-container {
        width: 100%;
        .item-content {
          margin-left: 21.5px;
          border-left: 3px solid #c4c4c4;
          padding-left: 26px;
        }

        .item-content-opened {
          border-left-color: #51d95f;
        }
      }
    }
  }
}
