.page-header-button-action {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;

  i {
    font-size: 27px;
  }
  img {
    width: 27px;
    height: 27px;
  }
}

.dropdown-menu-header {
  left: -90px !important;
  right: 440px !important;
  top: 130% !important;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: none;
  padding: 10px;
  width: 100% !important;
  &:after,
  &:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 11px;
    margin-left: -11px;
  }

  .dropdown-menu-header__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    i {
      color: #51d95f;
      margin-right: 8px;
    }
    span {
      font-size: 14px;
    }
    margin-bottom: 5px;
  }

  .dropdown-menu-header__item:hover {
    background-color: #51d95f;
    color: #fff;
    i {
      color: #fff;
    }
  }
  .dropdown-menu-header__item__disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #37474f;
    }
  }
}
