<header class="page-header" role="banner">
  <!-- we need this logo when user switches to nav-function-top -->
  <smart-logo></smart-logo>

  <!-- <smart-settings-shortcut></smart-settings-shortcut> -->

  <!-- DOC: mobile button appears during mobile width -->
  <div class="hidden-lg-up">
    <a
      href="#"
      (click)="openMobileNav($event)"
      class="header-btn btn press-scale-down"
      data-action="toggle"
      data-class="mobile-nav-on"
    >
      <i class="icon-hamburguer"></i>
    </a>
  </div>

  <div class="search">
    <form
      class="app-forms hidden-xs-down"
      role="search"
      action="search-results.html"
      autocomplete="off"
    >
      <smart-autocomplete-search
        [showLabel]="false"
        [isBig]="true"
        placeholderName="Pesquisar por Empresa ou Documentos"
      ></smart-autocomplete-search>
    </form>
  </div>

  <div class="d-flex flex-grow-1 justify-content-end">
    <button (click)="getUserInfo()" class="page-header-button-action">
      <i class="icon-calendar mb-1"></i>
      <span> Calendário</span>
    </button>
    <button
      type="button"
      aria-controls="dropdown-dropup"
      class="page-header-button-action"
    >
      <i class="icon-notificati mb-1"></i>

      <span> Notificações</span>
    </button>

    <div dropdown class="btn-group" placement="top left">
      <button class="page-header-button-action" dropdownToggle>
        <img class="mb-1" src="assets/img/icons/icon-woman.svg" alt="" />
        <span>Perfil</span>
      </button>

      <ul
        id="dropdown-dropup"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-header"
        role="menu"
        aria-labelledby="dropdown-dropup"
      >
        <li role="menuitem">
          <a class="dropdown-item dropdown-menu-header__item">
            <i class="icon-edit"></i>

            <span>Meu Perfil</span>
          </a>
        </li>
        <li role="menuitem">
          <a
            (click)="logout()"
            class="dropdown-item dropdown-menu-header__item"
          >
            <i class="icon-delete"></i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- activate app search icon (mobile) -->
    <!-- <div class="hidden-sm-up">
      <a
        href="#"
        class="header-icon"
        data-action="toggle"
        data-class="mobile-search-on"
        data-focus="search-field"
        title="Search"
      >
        <i class="fal fa-search"></i>
      </a>
    </div> -->

    <!-- app settings -->
    <!-- <smart-settings-modal></smart-settings-modal> -->

    <!-- app shortcuts -->
    <!-- <smart-dropdown-apps></smart-dropdown-apps> -->

    <!-- <button (click)="getUserInfo()">get info</button> -->

    <!-- app message -->
    <!-- <a href="#" class="header-icon" data-toggle="modal" data-target=".js-modal-messenger">
        <i class="fal fa-globe"></i>
        <span class="badge badge-icon">!</span>
      </a>
         -->
    <!-- app notification -->
    <!-- <div>
        <a href="#" class="header-icon" data-toggle="dropdown" title="You got 11 notifications">
          <i class="fal fa-bell"></i>
          <span class="badge badge-icon">11</span>
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-xl">
          {{> include/_dropdown-notification}} 
        </div>
      </div> -->

    <!-- app user menu -->
    <!-- <smart-dropdown-user></smart-dropdown-user> -->
  </div>
</header>
