:host {
  height: 100%;
  width: 100%;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  .empty-list__footer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-list__footer__title {
      font-size: 26px;
      color: #355c80;
      text-align: center;
    }
    .empty-list__footer__description {
      font-size: 20px;
      color: #b0bec5;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
