<div class="empty-list">
  <ng-lottie
    [options]="options"
    (animationCreated)="animationCreated($event)"
    (loopComplete)="stop()"
    width="400px"
    height="300px"
  ></ng-lottie>
  <div class="empty-list__footer">
    <span class="empty-list__footer__title">Nada por aqui ainda</span>
    <p class="empty-list__footer__description">
      Essa empresa ainda não possui nenhum setor cadastrado. Faça o cadastro ou
      realize a importação de setores para visualizá-los aqui.
    </p>
    <smart-button-add
      (click)="clickButtonPlus()"
      [withBorder]="true"
      title="{{ buttonTitle }}"
    ></smart-button-add>
  </div>
</div>
