.dropdown__filter {
  width: 260px;
}

.dropdown__filter .btn-group {
  width: 100%;
}

.dropdown__filter__input-container {
  position: relative !important;
  display: inline !important;
  cursor: pointer !important;
  padding: 0px !important;
  width: 100%;
}

input {
  background-color: transparent;
  color: #37474f;
  border: none;
  padding-bottom: 3px;
  font-size: 16px;
  border-bottom: 1px solid #37474f;
  cursor: pointer;
  width: 100%;
}

.icon-filter {
  position: absolute;
  color: #37474f;
  font-size: 18px;
  right: 0px;
}

.dropdown-menu-list-filter {
  top: 170% !important;
  left: 86% !important;
  border-radius: 12px !important;
  padding: 15px;
  width: 280px;

  &:after,
  &:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 11px;
    margin-left: -11px;
  }
}

.filter-content {
  h3 {
    font-size: 20px;
    color: #37474f;
    margin: 20px 0px;
  }
}
