<div class="dropdown__filter">
  <div
    class="btn-group"
    placement="bottom right"
    dropdown
    [dropup]="false"
    [autoClose]="true"
    [insideClick]="true"
  >
    <button
      dropdownToggle
      type="button"
      aria-controls="dropdown-basic"
      class="dropdown__filter__input-container"
    >
      <input [value]="title" readonly />
      <i class="icon-filter"></i>
    </button>
    <ul
      id="dropdown-dropup"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-list-filter"
      role="menu"
      aria-labelledby="button-dropup"
    >
      <div class="filter-content">
        <h3 *ngIf="filterHeader">{{ filterHeader }}</h3>
        <ng-content></ng-content>
      </div>
    </ul>
  </div>
</div>
