.button-transparent-delete {
  color: #eb4949;
  background-color: transparent;
  border: none;
  font-weight: normal;
  img {
    margin-right: 5px;
  }
  padding: 10px 5px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;

  .button-transparent-delete__icon {
    margin-right: 5px;
  }
}
