<button (click)="onClick()" class="button-transparent-delete">
  <i *ngIf="iconTrash" class="icon-bin button-transparent-delete__icon"></i>
  <i *ngIf="!iconTrash" class="icon-delete button-transparent-delete__icon"></i>
  <span>
    {{ title }}
  </span>
</button>
