<div
  *ngIf="isModalShown"
  [config]="{ show: true }"
  (onHidden)="onHidden()"
  bsModal
  #autoShownModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <div
          class="d-flex justify-content-space-between align-items-flex-center w-100 mb-4"
        >
          <h4 id="dialog-auto-name" class="modal-title pull-left">
            {{ title }}
            <!-- <div *ngIf="principalText" class="modal-details-principal-item">
              <img src="assets/img/icons/icon-star.svg" alt="icone estrela" />
              <span>{{ principalText }} </span>
            </div> -->
          </h4>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="hideModal()"
          >
            <i class="icon-close-modal icon-close"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-details-content">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
