.modal-details-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.modal-details-principal-item {
  margin-left: 20px;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}
