@import "../../../scss/_modules/variables.scss";

.function-form {
  height: 100%;
  width: 100%;
  display: flex;

  .function-form-form {
    flex: 1;
  }

  .function-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
