<div class="function-form">
  <form class="function-form-form">
    <div class="function-form-content">
      <div class="mb-6">
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Address"
          #panelAddress
        >
          <div class="title-collapse" panelTitle>
            Cargo
          </div>
          <div panelContent id="isCollapsedAddress">
            <div class="form-row">
              <div class="form-group col-xl-5">
                <smart-select-autocomplete-search
                  [isSearch]="true"
                  placeholderName="Pesquise pelo Nome do Cargo/Função"
                  labelName="Nome"
                >
                </smart-select-autocomplete-search>
              </div>
              <div class="form-group col-xl-3">
                <label for="CBO">CBO</label>
                <input
                  class="form-control"
                  id="CBO"
                  placeholder="Informe o Código CBO"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-xl-12">
                <label for="description">Descrição das atividades</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Informe a descrição das atividades"
                ></textarea>
              </div>
            </div>
          </div>
        </smart-panel>

        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Address"
          #panelAddress
        >
          <div class="title-collapse" panelTitle>
            Grupo de Atividades
          </div>
          <div panelContent id="isCollapsedAddress">
            <div class="form-row">
              <div class="form-group col-xl-4">
                <label for="description">Nome</label>
                <input
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Informe o Nome do Grupo de Atividades"
                />
              </div>
              <div class="col-xl-12">
                <label for="description">Descrição</label>
                <textarea
                  class="form-control"
                  id="description"
                  rows="5"
                  placeholder="Informe a descrição do grupo de atividades"
                ></textarea>
              </div>
              <div class="col-xl-12">
                <smart-button-add
                  title="Adicionar Grupo de Atividades"
                ></smart-button-add>
              </div>
            </div>
          </div>
        </smart-panel>

        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Address"
          #panelAddress
        >
          <div class="title-collapse" panelTitle>
            Itens Adicionais
          </div>
          <div panelContent id="isCollapsedAddress">
            <div class="form-row mb-4">
              <div class="form-group col-xl-5">
                <smart-select-autocomplete-search
                  [isSearch]="true"
                  placeholderName="Selecione a atividade"
                  labelName="Atividade Perigosa, insalubre ou especial"
                >
                </smart-select-autocomplete-search>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-xl-5">
                <smart-select-autocomplete-search
                  [isSearch]="true"
                  placeholderName="Informe o Nome do EPI"
                  labelName="EPI’s Recomendados"
                >
                </smart-select-autocomplete-search>
              </div>
            </div>
            <smart-button-add title="Adicionar EPI"></smart-button-add>
          </div>
        </smart-panel>
      </div>
      <smart-buttons-form></smart-buttons-form>
    </div>
  </form>
</div>
