<div class="modal-body">
  <h3 class="modal-title">Adicionar novo cargo ao setor: “Cozinha”</h3>
  <div class="function-form">
    <form class="function-form-form">
      <div class="function-form-content">
        <div class="mb-4">
          <div class="form-row">
            <div class="form-group col-xl-6">
              <smart-select-autocomplete-search
                labelName="Cargo"
                placeholderName="Selecione a cargo"
              ></smart-select-autocomplete-search>
            </div>
            <div class="form-group col-xl-6">
              <smart-select-autocomplete-search
                [isSearch]="false"
                labelName="Grupo de atividade"
                placeholderName="Selecione um grupo de de atividade"
              ></smart-select-autocomplete-search>
            </div>
          </div>
        </div>
        <smart-buttons-form
          (saveButtonClick)="openSecondModal()"
          [showSaveAndContinueButton]="false"
        ></smart-buttons-form>
      </div>
    </form>
  </div>
</div>
