<div class="page-wrapper">
  <div class="page-inner">
    <smart-sidebar></smart-sidebar>
    <div class="page-content-wrapper">
      <div class="padding-page">
        <smart-page-header></smart-page-header>
      </div>
      <main id="js-page-content" role="main" class="page-content">
        <div class="main-page-content">
          <div class="main-page-content-breadcrumb padding-breadcrumb">
            <smart-page-breadcrumb></smart-page-breadcrumb>
          </div>
          <div class="main-page-content-router">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
    <div
      class="page-content-overlay"
      (click)="closeMobileNav($event)"
      data-class="mobile-nav-on"
    ></div>
  </div>
</div>
