@import "../../../../scss/_modules/variables.scss";

.main-page-content {
  .main-page-content-breadcrumb {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
  }

  .main-page-content-router {
    height: 90%;
    min-height: 90%;
  }
  height: 100%;
  min-height: 100%;
  margin-top: 0px;
}

.padding-breadcrumb {
  padding: 0rem 2rem;
}

.padding-page {
  padding: 0rem 2rem;

  @media screen and (max-width: 991px) {
    padding: 0px;
  }
}
