<div class="content">
  <h1>Cronograma de ações</h1>
  <div class="list-search-bar">
    <div class="search">
      <div class="search-input">
        <smart-select-autocomplete-search placeholderName="Pesquisar por ppra">
        </smart-select-autocomplete-search>
      </div>
      <smart-button-remove
        iconTrash="{{ true }}"
        title="Excluir ação"
      ></smart-button-remove>
    </div>
    <smart-button-add
      (click)="openModal(template)"
      title="Adicionar ação"
    ></smart-button-add>
  </div>

  <table class="list-table">
    <tr>
      <div class="list-table-item row">
        <div class="col-3">
          <div class="thumbnail">
            <smart-checkbox></smart-checkbox>
            <div class="avatar">
              <span>GR</span>
            </div>
            <div class="names">
              <span>Nome:</span>
              <span class="list-table-item__value">Nome da ação</span>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="d-flex flex-column">
            <span>Responsável:</span>
            <span class="list-table-item__value">Nome do responsável</span>
          </div>
        </div>
        <div class="col-3">
          <div class="d-flex flex-column">
            <span>Data</span>
            <span class="list-table-item__value"
              >Abril/2020 - Mar/2020 - Ago/2020</span
            >
          </div>
        </div>

        <div class="col-3">
          <div class="buttons d-flex justify-content-end">
            <button class="btn table-buttons">Editar</button>
            <button class="btn table-buttons button-detail">
              detalhar
            </button>
          </div>
        </div>
      </div>
    </tr>
  </table>

  <ng-template #template>
    <div class="modal-body">
      <h3 class="modal-title">Cadastro de ações</h3>
      <div class="form-row mb-5">
        <div class="form-group col-xl-6">
          <label for="name">Nome</label>
          <input class="form-control" id="name" placeholder="Informe o Nome" />
        </div>
        <div class="form-group col-xl-6">
          <smart-select-autocomplete-search
            labelName="Responsável"
            placeholderName="Selecione o Responsável"
          ></smart-select-autocomplete-search>
        </div>
        <div class="form-group col-xl-12">
          <smart-select-multiple-checkbox
            labelName="Período de vigência da ação"
            placeholderName="Selecione o período de vigência da ação"
          ></smart-select-multiple-checkbox>
        </div>
        <div class="form-group col-xl-12">
          <label for="description">Descrição</label>
          <textarea
            rows="5"
            class="form-control"
            id="description"
            placeholder="Informe a Descrição"
          >
          </textarea>
        </div>
      </div>
      <smart-buttons-form
        cancelButtonTitle="Voltar"
        saveButtonTitle="Salvar"
        [showSaveAndContinueButton]="false"
      ></smart-buttons-form>
    </div>
  </ng-template>
</div>
