<div class="newcustomer">
  <form>
    <h4>Para cadastrar um empresa, selecione o seu perfil:</h4>
    <smart-button-group-item></smart-button-group-item>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-newcustomer"
      #panelNewCustomer
    >
      <div panelTitle class="title-collapse">Dados pessoais</div>
      <div panelContent id="`">
        <div class="form-row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="dadosNomeCompleto">Nome Completo</label>
            <input
              class="form-control"
              id="dadosNomeCompleto"
              placeholder="Informe o Nome Completo"
            />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
            <label for="dadosCpf">CPF</label>
            <input
              class="form-control"
              mask="000.000.000.00"
              id="dadosCpf"
              class="form-control"
              placeholder="Informe o CPF"
            />
          </div>
        </div>
      </div>
    </smart-panel>

    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-newcustomer"
      #panelNewCustomer
    >
      <div panelTitle class="title-collapse">
        Dados da Empresa (juridica)
      </div>
      <p>A custom dropzone.</p>

      <div panelContent id="isCollapsedDataCustomer">
        <div class="form-row">
          <div class="col-8">
            <div class="form-row">
              <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-4">
                <label for="empRazaoSocial">Razão Social</label>
                <input
                  class="form-control"
                  id="empRazaoSocial"
                  placeholder="Informe a Razão Social"
                />
              </div>
              <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-4">
                <label for="empNomeFantasia">Nome Fantasia</label>
                <input
                  class="form-control"
                  id="empNomeFantasia"
                  placeholder="Informe o Nome Fantasia"
                />
              </div>
              <div class="mb-2 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <label for="empCnpj">CNPJ</label>
                <input
                  mask="00.000.000/0000-00"
                  class="form-control"
                  id="empCnpj"
                  placeholder="Informe o CNPJ"
                />
              </div>
              <div class="mb-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <label for="empInscEstadual">Inscrição Estadual</label>
                <input
                  mask="00.000.000/0000-00"
                  class="form-control"
                  id="empInscEstadual"
                  placeholder="Informe a Inscrição Estadual"
                />
              </div>
              <div class="mb-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <label for="empInscMunicpal">Inscrição Municipal</label>
                <input
                  mask="00.000.000/0000-00"
                  class="form-control"
                  id="empInscMunicpal"
                  placeholder="Informe a Inscrição Municipal"
                />
              </div>
              <div class="mb-2 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <smart-select-autocomplete-search
                  id="empRegTributario"
                  [isSearch]="false"
                  placeholderName="Selecione o regime tributário"
                  labelName="Regime tributário"
                >
                </smart-select-autocomplete-search>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-row d-flex justify-content-center">
              <div
                class="col-8 ngx-dropzone"
                ngx-dropzone
                [accept]="'image/*'"
                (change)="onSelect($event)"
              >
                <ngx-dropzone-label>
                  <div>
                    <div *ngIf="!url">
                      <img
                        class="mb-3"
                        src="assets/img/icons/icon-add-logo.svg"
                        alt=""
                      />
                      <h2><strong>Adicionar Logo</strong></h2>
                      <p>
                        Clique aqui ou arraste a imagem para adicionar o logo
                      </p>
                    </div>

                    <img
                      *ngIf="url"
                      width="150"
                      height="150"
                      src="{{ url }}"
                      alt=""
                    />
                  </div>
                </ngx-dropzone-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </smart-panel>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-newcustomer"
      #panelNewCustomer
    >
      <div panelTitle class="title-collapse">
        Dados de contato (ambos)
      </div>
      <div panelContent id="isCollapsedDataCustomer">
        <div class="form-row">
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <label for="dadosContTelefone">Telefone</label>
            <input
              class="form-control"
              id="dadosContTelefone"
              placeholder="Informe o Telefone"
              mask="(00) 00000-0000"
            />
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <smart-select-autocomplete-search
              id="dadosContTipoTelefone"
              [isSearch]="false"
              placeholderName="Selecione o tipo"
              labelName="Tipo"
            >
            </smart-select-autocomplete-search>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-1">
            <label></label>
            <smart-checkbox
              id="dadosContprincTelefone"
              label="Definir como telefone principal"
            ></smart-checkbox>
          </div>
          <div class="col-12 mb-2">
            <smart-button-add title="Adiciona telefone"></smart-button-add>
            <smart-tag-container>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
            </smart-tag-container>
          </div>
        </div>

        <div class="form-row">
          <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-4">
            <label for="dadosContEmail">Email</label>
            <input
              class="form-control"
              id="dadosContEmail"
              placeholder="Informe seu email"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-1">
            <label></label>
            <smart-checkbox
              id="dadosContEmail"
              label="Definir como email principal"
            ></smart-checkbox>
          </div>
          <div class="col-12">
            <smart-button-add title="Adiciona Email"></smart-button-add>
            <smart-tag-container>
              <smart-tag-item isFavorite="{{ true }}"></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
              <smart-tag-item></smart-tag-item>
            </smart-tag-container>
          </div>
        </div>
      </div>
    </smart-panel>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-Cnae"
      #panelCnae
    >
      <div panelTitle class="title-collapse">
        CNAE Secundário (ambos)
      </div>
      <div panelContent id="isCollapsedCNA">
        <div class="form-row">
          <div class="mb-2 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <label for="cnae">CNAE</label>
            <input
              id="cnae"
              class="form-control"
              placeholder="Informe o CNAE"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <label for="cnaeGrauRisco">Grau de Risco </label>
            <input
              id="cnaeGrauRisco"
              class="form-control"
              placeholder="Informe o Grau de Risco"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <label for="cnaeAtividade">Atividade</label>
            <input
              class="form-control"
              id="cnaeAtividade"
              placeholder="Informe a Atividade"
            />
          </div>
        </div>
        <smart-button-add title="Adicionar CNAE"></smart-button-add>
        <smart-tag-container>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
        </smart-tag-container>
      </div>
    </smart-panel>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-Address"
      #panelAddress
    >
      <div panelTitle class="title-collapse">
        Endereço (ambos)
      </div>
      <div panelContent id="isCollapsedAddress">
        <div class="form-row">
          <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <smart-select-autocomplete-search
              id="enderecoTipo"
              [isSearch]="false"
              placeholderName="Selecione o tipo"
              labelName="Tipo"
            >
            </smart-select-autocomplete-search>
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-2 col-xl-3">
            <label for="enderecoName">Nome</label>
            <input
              class="form-control"
              id="enderecoName"
              placeholder="Informe o nome"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <label for="enderecoCep">CEP</label>
            <input
              class="form-control"
              mask="00000-000"
              id="enderecoCep"
              placeholder="Informe o CEP"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <label for="enderecoEstado">Estado</label>
            <input
              class="form-control"
              id="enderecoEstado"
              placeholder="Informe o Estado"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <label for="enderecoCidade">Cidade</label>
            <input
              class="form-control"
              id="enderecoCidade"
              placeholder="Informe a Cidade"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-3 col-lg-2 col-xl-4">
            <label for="enderecoBairro">Bairro</label>
            <input
              type="password"
              class="form-control"
              id="enderecoBairro"
              placeholder="Informe o Bairro"
            />
          </div>
          <div class="mb-2 col-md-6 col-lg-2 col-xl-4">
            <label for="enderecoLogradouro">Logradouro</label>
            <input
              type="password"
              id="enderecoLogradouro"
              class="form-control"
              placeholder="Informe o Endereço"
            />
          </div>
          <div class="mb-2 col-md-6 col-lg-2 col-xl-4">
            <label for="enderecoNumero">Número</label>
            <input
              id="enderecoNumero"
              type="number"
              class="form-control"
              placeholder="Informe o Número"
            />
          </div>
          <div class="mb-2 col-md-6 col-lg-2 col-xl-4">
            <label for="enderecoComplemento">Complemento</label>
            <input
              id="enderecoComplemento"
              type="number"
              class="form-control"
              placeholder="Informe o Complemento"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-1">
            <label></label>
            <smart-checkbox
              id="enderecoPrincipal"
              label="Definir como endereço principal"
            ></smart-checkbox>
          </div>
        </div>
        <smart-button-add title="Adicionar Endereço"></smart-button-add>
        <smart-tag-container>
          <smart-tag-item
            (clickDeleteEvent)="openModalDelete()"
            (clickTagEvent)="openModalAddress()"
          ></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
        </smart-tag-container>
        <smart-modal-details
          title="Endereço"
          principalText="Esse é o endereço principal"
        >
          <smart-modal-detail-item
            label="Tipo"
            value="Comercial"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="Nome"
            value="Denis de Almeida  mendonça"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="CEP"
            value="08434-234"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="Estado"
            value="São Paulo"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="Cidade"
            value="São Paulo"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="Cidade"
            value="São Paulo"
          ></smart-modal-detail-item>
          <smart-modal-detail-item
            label="Cidade"
            value="São Paulo"
          ></smart-modal-detail-item>
        </smart-modal-details>
      </div>
    </smart-panel>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-Contact"
      #panelContact
    >
      <div panelTitle class="title-collapse">
        Contatos
      </div>
      <div panelContent id="isCollapsedContact">
        <div class="form-row">
          <div class="mb-2 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label for="contNome">Nome</label>
            <input
              id="contNome"
              class="form-control"
              placeholder="Informe o Nome"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="contName">CPF</label>
            <input
              mask="000.000.000.00"
              id="contName"
              class="form-control"
              placeholder="Informe o CPF"
            />
          </div>
          <button (click)="openToast()">
            open toat
          </button>
          <div class="mb-2 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <label for="contTelefone">Telefone</label>
            <input
              mask="(00) 00000-0000"
              class="form-control"
              id="contTelefone"
              placeholder="Informe Telefone"
            />
          </div>
          <div class="mb-2 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <smart-select-autocomplete-search
              id="contFuncao"
              [isSearch]="false"
              placeholderName="Selecione a função"
              labelName="Função"
            >
            </smart-select-autocomplete-search>
          </div>
          <div class="mb-2 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="contEmail">E-mail*</label>
            <input
              id="contEmail"
              type="email"
              class="form-control"
              placeholder="E-mail"
            />
          </div>
        </div>
        <smart-button-add title="Adiciona contato"></smart-button-add>
        <smart-tag-container>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
          <smart-tag-item></smart-tag-item>
        </smart-tag-container>
      </div>
    </smart-panel>
    <smart-buttons-form
      saveButtonTitle="Salvar e continuar"
      [showSaveAndContinueButton]="false"
      (saveButtonClick)="openModalFeeback()"
    ></smart-buttons-form>
  </form>
</div>

<smart-feedback-modal
  title="Usuário cadastro com sucesso!"
></smart-feedback-modal>
