@import "../../../../scss/_modules/variables.scss";

.newcustomer {
  .newcustomer-collapse {
    button {
      border: none;
      background-color: transparent;
      font-weight: 600;
      font-size: 20px;
      padding-left: 0px;
      color: #0b2d4b;
      img {
        margin-left: 5px;
      }
    }
    margin: 10px 0px;
    padding-left: 0px;
  }
  .buttons {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 795px) {
      flex-direction: column;
      button {
        margin: 10px 0px;
      }
    }
  }
}

ngx-dropzone,
.custom-dropzone {
}

.ngx-dropzone {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 20px;
  min-height: 100%;
  height: auto;
  width: 100%;
}

.ngx-dropzone.ngx-dz-hovered {
  border-color: rgba(0, 0, 0, 0.1);
}
