<nav class="sidebar-nav">
  <div class="sidebar-nav-logo-container">
    <img
      src="/assets/img/{{ logo }}"
      alt="{{ appName }}"
      class="sidebar-nav-logo"
      aria-roledescription="logo"
    />
  </div>
  <ul class="sidebar-nav-menu">
    <li class="sidebar-nav-menu-menu-item">
      <a [routerLink]="['/intel']" routerLinkActive="router-link-active">
        <img class="icon" src="/assets/img/icons/dashboard.svg" alt="" />
        <span class="title">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-nav-menu-menu-item">
      <a [routerLink]="['/clientes']" routerLinkActive="router-link-active">
        <img class="icon" src="/assets/img/icons/users.svg" alt="" />
        <span class="title">Meus Clientes</span>
      </a>
    </li>
    <li class="sidebar-nav-menu-menu-item">
      <a [routerLink]="['/info']" routerLinkActive="router-link-active">
        <img class="icon" src="/assets/img/icons/nrs.svg" alt="" />
        <span class="title">NR`S</span>
      </a>
    </li>
    <li class="sidebar-nav-menu-menu-item">
      <a [routerLink]="['/ui']" routerLinkActive="router-link-active">
        <img class="icon" src="/assets/img/icons/reports.svg" alt="" />
        <span class="title">Relatórios</span>
      </a>
    </li>
  </ul>
</nav>
