@import "../../../scss/_modules/variables.scss";

.sidebar-nav {
  background-color: $white;
  min-width: 150px;
  position: fixed;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 15px 0px;

  .sidebar-nav-logo-container {
    display: flex;
    justify-content: center;
    .sidebar-nav-logo {
      margin-bottom: 20px;
    }
  }

  .sidebar-nav-menu {
    padding: 0px;
    .sidebar-nav-menu-menu-item {
      a {
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          color: #0b2d4b;
        }
        .icon {
          margin-bottom: 10px;
        }
      }
      .router-link-active {
        background-color: #eeeded;
      }
    }
  }
}
