<div class="form-header">
  <form class="form-header-form">
    <div class="form-header-content">
      <div class="form-row">
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="form-row">
            <div class="col-xl-6">
              <smart-radio-container
                direction="row"
                label="Deseja importar dados de um PPRA existente?"
              >
                <smart-radio-item title="Não Copiar"></smart-radio-item>
                <smart-radio-item
                  title="Copiar dados de PPRA anterior"
                ></smart-radio-item>
              </smart-radio-container>
            </div>
            <div
              class="col-xl-6 d-flex mt-3 justify-content-start align-items-center"
            >
              <div>
                <smart-select-autocomplete-search
                  placeholderName="Selecione o PPRA"
                ></smart-select-autocomplete-search>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-xl-6">
              <smart-select-autocomplete-search
                labelName="Setor"
                placeholderName="Selecione o setor"
              ></smart-select-autocomplete-search>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-xl-8">
              <div class="table-header-functions">
                <span class="table-header-functions__title"
                  >Riscos encontrados no setor:</span
                >
                <span class="table-header-functions__subtitle"
                  >Selecione para fazer a medição</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 d-flex justify-content-end">
          <smart-list-feedback-status
            title="Riscos"
          ></smart-list-feedback-status>
        </div>
      </div>
      <div class="list-search-bar">
        <div class="search">
          <div class="search-input">
            <smart-select-autocomplete-search
              placeholderName="Pesquisar por ppra"
            >
            </smart-select-autocomplete-search>
          </div>
          <smart-button-remove
            iconTrash="{{ true }}"
            title="Excluir cargo"
          ></smart-button-remove>
        </div>
      </div>
      <table class="list-table">
        <tr>
          <div class="list-table-item row">
            <div class="col-3">
              <div class="thumbnail">
                <smart-checkbox></smart-checkbox>
                <div class="avatar">
                  <span>GR</span>
                </div>
                <div class="names">
                  <span>Nome:</span>
                  <span class="list-table-item__value">Nome do cargo</span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="d-flex flex-column">
                <span>Grupo atividade</span>
                <span class="list-table-item__value">Nome do grupo</span>
              </div>
            </div>
            <div class="col-2">
              <div class="d-flex flex-column">
                <span>Status:</span>
                <smart-display-status>
                  <span class="list-table-item__value">Não vistoriado</span>
                </smart-display-status>
              </div>
            </div>

            <div class="col-5">
              <div class="buttons d-flex justify-content-end">
                <button
                  (click)="
                    openMeteringEquipment(templateMeteringEquipmentModal)
                  "
                  class="btn-transparent-with-border"
                >
                  Equipamentos
                </button>
                <button
                  button
                  (click)="openModalRisk(templateRiskModal)"
                  class="btn-transparent-with-border"
                >
                  Riscos
                </button>
                <button
                  (click)="openModalControlEpi(templateControlEpiModal)"
                  class="btn-transparent-with-border"
                >
                  EPI’s
                </button>
                <div
                  class="btn-group"
                  placement="bottom right"
                  dropdown
                  [dropup]="isDropDownTable"
                >
                  <button
                    id="button-basic"
                    dropdownToggle
                    type="button"
                    aria-controls="dropdown-basic"
                  >
                    <i class="icon-menu-more icon-menu-list"></i>
                  </button>
                  <ul
                    id="dropdown-dropup"
                    *dropdownMenu
                    class="dropdown-menu dropdown-menu-list-employees"
                    role="menu"
                    aria-labelledby="button-dropup"
                  >
                    <li role="menuitem">
                      <a
                        (click)="
                          openModalAddNewFunction(templateAddNewFunctionModal)
                        "
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-add-more mr-2 icon-menu-option"></i>
                        <span>Novo Cargo</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a
                        (click)="
                          openModalAddExistFunction(
                            templateAddExistFunctionModal
                          )
                        "
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-add-more mr-2 icon-menu-option"></i>
                        <span>Cargo Existente</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a
                        (click)="openModalGheList(templateGheListModal)"
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-edit mr-2 icon-menu-option"></i>
                        <span>Editar GHE</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a
                        (click)="
                          openModalEmployeesList(
                            templateEmployeesListModalModal
                          )
                        "
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-delete mr-2 icon-menu-option"></i>
                        <span>Excluir GHE</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a
                        (click)="
                          openModalEmployeesList(
                            templateEmployeesListModalModal
                          )
                        "
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-hide mr-2 icon-menu-option"></i>
                        <span>Inativar GHE</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a
                        (click)="
                          openModalEmployeesList(
                            templateEmployeesListModalModal
                          )
                        "
                        class="dropdown-item d-flex menu-item__employees justify-content-space-between align-items-center"
                      >
                        <i class="icon-view mr-2 icon-menu-option"></i>
                        <span>Lista de funcionários (50)</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </table>
    </div>
  </form>
</div>

<ng-template #templateAddExistFunctionModal>
  <smart-add-exist-function-modal
    (openSecondModalEvent)="
      openModalAddNewGroupActivity(templateAddGroupNewActivity)
    "
  ></smart-add-exist-function-modal>
</ng-template>

<ng-template #templateAddNewFunctionModal>
  <smart-add-new-function-modal
    (openSecondModalEvent)="
      openModalAddNewGroupActivity(templateAddGroupNewActivity)
    "
  ></smart-add-new-function-modal>
</ng-template>

<ng-template #templateNewRiskModal>
  <smart-add-new-risk-modal></smart-add-new-risk-modal>
</ng-template>

<ng-template #templateGheListModal>
  <smart-ghe-list-modal></smart-ghe-list-modal>
</ng-template>

<ng-template #templateEmployeesListModalModal>
  <smart-employees-list-modal></smart-employees-list-modal>
</ng-template>

<ng-template #templateControlEpiModal>
  <smart-control-epi-modal></smart-control-epi-modal>
</ng-template>

<ng-template #templateMeteringEquipmentModal>
  <smart-metering-equipment-modal></smart-metering-equipment-modal>
</ng-template>

<ng-template #templateRiskModal>
  <smart-risk-modal
    (openSecondModalEvent)="openModalNewRiskModal(templateNewRiskModal)"
  ></smart-risk-modal>
</ng-template>

<ng-template #templateAddGroupNewActivity>
  <smart-add-group-new-activity></smart-add-group-new-activity>
</ng-template>
