:host {
  width: 100%;
  display: inline-block;
}

.table-header-functions {
  margin: 30px 0px 0px 0px;

  color: #0b2d4b;
  display: flex;
  flex-direction: column;

  .table-header-functions__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .table-header-functions__subtitle {
  }
}

.modal-functiondetail {
  .modal-functiondetail__title {
    font-weight: 600;
    font-size: 20px;
    color: #0b2d4b;
    margin-bottom: 30px;
  }
  .modal-functiondetail__descriptions {
    margin-bottom: 30px;
    line-height: 22px;
    span {
      font-size: 16px;
    }
    p {
      margin-top: 7px;
      font-size: 14px;
      color: #9fa5aa;
    }
  }
}

.form-header {
  width: 100%;
  height: 100%;
  display: flex;

  .form-header-form {
    flex: 1;
  }
  .form-header-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}

.icon-menu-list {
  color: #c4cbd2;
  font-size: 18px;
}

.dropdown-menu-list-employees {
  left: -155px !important;
  top: -30px !important;
  z-index: 1000000 !important;
  border-radius: 8px !important;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: none;
  padding: 10px;
  margin-left: 0px;
  &:after,
  &:before {
    top: 100%;
    left: 77.9%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(196, 196, 196, 0);
    border-top-color: #c4c4c4;
    border-width: 11px;
    margin-left: -11px;
  }

  .menu-item__employees {
    span {
      color: #37474f;
    }
    padding: 10px;
    border-radius: 6px;

    .icon-menu-option {
      color: #697b8c;
      font-size: 16px;
    }
    &:hover {
      background-color: #51d95f;
      .icon-menu-option {
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
}
