<form
  [formGroup]="form"
  (ngSubmit)="formSubmit()"
  class="recovery-account-form"
>
  <span class="title">
    Para recuperar sua conta <strong class="connect">Connect</strong
    ><strong class="cont">Cont</strong>, preencha os dados abaixo
  </span>
  <div *ngFor="let alert of alerts">
    <alert
      [type]="alert.type"
      [dismissOnTimeout]="alert.timeout"
      (onClosed)="onClosed(alert)"
      >{{ alert.msg }}</alert
    >
  </div>
  <div class="form-row">
    <div class="form-group col-xl-12">
      <i class="icon-connect-cont-user icon-input"></i>
      <label for="username"></label>
      <input
        type="text"
        formControlName="codigoOuApelido"
        class="form-control auth__input"
        id="username"
        placeholder="Código/apelido de acesso"
      />
      <div *ngIf="f.codigoOuApelido.invalid && f.codigoOuApelido.touched">
        <i class="icon-close icon-danger"></i>
        <span class="message-error" *ngIf="f.codigoOuApelido.errors.required"
          >O Código/apelido de acesso é obrigatório</span
        >
        <span class="message-error" *ngIf="f.codigoOuApelido.errors.pattern">
          ódigo/apelido de acesso inválido
        </span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-xl-12">
      <i class="icon-connect-cont-cpf icon-input"></i>
      <label for="cpf"></label>
      <input
        type="text"
        formControlName="cpf"
        class="form-control auth__input"
        id="username"
        mask="000.000.000-00"
        placeholder="CPF"
      />
      <div *ngIf="f.cpf.invalid && f.cpf.touched">
        <i class="icon-close icon-danger"></i>
        <span class="message-error" *ngIf="f.cpf.errors.required"
          >O CPF é obrigatório</span
        >
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <input
        formControlName="enviarCopia"
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
      />
      <label class="form-check-label" for="gridCheck">
        Com cópia para o Responsável
      </label>
    </div>
  </div>
  <div class="buttons">
    <button [routerLink]="['/login']" type="button" class="btn-auth-orange">
      <i class="icon-exit"></i>
      <span class="btn-auth-title">
        Voltar
      </span>
    </button>
    <button type="submit" class="btn-auth-primary">
      <i class="icon-check-inpu"></i>
      <span class="btn-auth-title">
        Enviar
      </span>
    </button>
  </div>
</form>
