@import "../../../../scss/_modules/variables.scss";

.recovery-password-form {
  width: 100%;
  margin-top: 5px;
  color: #355c80;

  .title {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .form-label {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-control {
    border-width: 1px;
    border-radius: 3px;
  }
  .input-prefix {
    border-width: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .invalid-feedback span {
    font-size: 13px;
  }

  .form-check {
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }

  .input-prefix {
    background-color: $white;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    img {
      margin-right: 5px;
    }
    button {
      width: 45%;
    }
    button:disabled {
      cursor: not-allowed;
    }
  }
}
