<form
  [formGroup]="form"
  (ngSubmit)="formSubmit()"
  class="recovery-password-form"
>
  <span class="title">
    Para recuperar sua senha <strong class="connect">Connect</strong
    ><strong class="cont">Cont</strong>, preencha os dados abaixo
  </span>
  <div class="form-row">
    <div class="form-group col-xl-12">
      <i class="icon-connect-cont-user icon-input"></i>
      <label for="login"></label>
      <input
        type="text"
        formControlName="login"
        class="form-control auth__input"
        id="username"
        placeholder="Usuário"
      />
      <div *ngIf="f.login.invalid && f.login.touched">
        <i class="icon-close icon-danger"></i>
        <span class="message-error" *ngIf="f.login.errors.required"
          >O usuário é obrigatório</span
        >
        <span class="message-error" *ngIf="f.login.errors.pattern">
          Usuário inválido
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        formControlName="enviarCopia"
        class="form-check-input"
        type="checkbox"
        id="gridCheck"
      />
      <label class="form-check-label" for="gridCheck">
        Com cópia para o Responsável
      </label>
    </div>
  </div>
  <div class="buttons">
    <button [routerLink]="['/login']" type="button" class="btn-auth-orange">
      <i class="icon-exit"></i>
      <span class="btn-auth-title">
        Voltar
      </span>
    </button>
    <button type="submit" class="btn-auth-primary">
      <i class="icon-check-inpu"></i>
      <span class="btn-auth-title">
        Enviar
      </span>
    </button>
  </div>
</form>
