<div style="width: 100%;">
  <ol class="breadcrumb page-breadcrumb" *ngIf="vm$ | async as vm">
    <ng-container
      *ngIf="vm.state && vm.state.data && vm.state.data.breadcrumbs"
    >
      <li
        class="breadcrumb-item"
        *ngFor="let crumb of vm.state.data.breadcrumbs; let i = index"
        [class.active]="vm.state.data.breadcrumbs.length === i + 1"
      >
        <a routerLink="{{ crumb.url }}"> {{ crumb.title }}</a>
      </li>
    </ng-container>
  </ol>
</div>
