<smart-container-form>
  <div class="content">
    <!-- <smart-empty-list
            buttonTitle="Adicionar Ordem de Serviço"
          ></smart-empty-list> -->
    <div class="list-search-bar">
      <div class="search">
        <div class="search-input">
          <smart-dropdown-filter title="Filtrar ASO" filterHeader="Filtra por:">
            <form>
              <div class="form-row">
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Empresa"
                    placeholderName="Informe a empresa"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Status"
                    placeholderName="Informe o status"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Data"
                    placeholderName="Selecione de período"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <button class="button__filter_dropdown">
                    Filtrar
                  </button>
                </div>
              </div>
            </form>
          </smart-dropdown-filter>
        </div>
        <smart-button-remove
          iconTrash="{{ true }}"
          title="Excluir ASO"
        ></smart-button-remove>
      </div>
      <smart-button-add (click)="newAso()" title="Gerar ASO"></smart-button-add>
    </div>

    <table class="list-table">
      <tr>
        <div class="list-table-item row">
          <div class="col-4">
            <div class="thumbnail">
              <smart-checkbox></smart-checkbox>
              <div class="avatar">
                <span>GR</span>
              </div>
              <div class="names">
                <span>Nome:</span>
                <span class="list-table-item__value"> Guilherme Ranieri</span>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="d-flex flex-column">
              <span>Tipo de ASO:</span>
              <span class="list-table-item__value">Admissional</span>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column">
              <span>Apto:</span>
              <span class="list-table-item__value">Admissional</span>
            </div>
          </div>

          <div class="col-3">
            <div class="buttons d-flex justify-content-end">
              <button class="btn table-buttons">Editar</button>
              <button class="btn table-buttons button-detail">
                detalhar
              </button>
            </div>
          </div>
        </div>
      </tr>
    </table>
  </div>
</smart-container-form>
