@import "src/scss/_modules/variables.scss";

:host {
  height: 100%;
}

.buttons {
  button {
    height: 39px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    padding: 0px 10px;
    color: #37474f;
    font-size: 16px;
    background-color: #cfd8dc;

    @media screen and (max-width: 500px) {
      padding: 0px;
      min-width: 120px;
      width: 100%;
      font-size: 14px;
    }
  }
  button:hover {
    background: #b0bec5;
  }

  @media screen and (max-width: 600px) {
    overflow-x: scroll;
    display: flex;
    align-items: flex-end;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    padding-bottom: 10px;
  }

  .active {
    background-color: #1785e7;
    color: white;
    height: 42px;
  }
  .active:hover {
    background-color: #1785e7;
  }
}

.button::-webkit-scrollbar {
  width: 0 !important;
}

.content {
}
