<smart-container-form-with-tabs>
  <div class="buttons">
    <button [routerLink]="['novo']" routerLinkActive="active">
      Cadastro de Empresa
    </button>

    <button [routerLink]="['ambientes-trabalho']" routerLinkActive="active">
      Ambientes de Trabalho
    </button>
    <button [routerLink]="['setores']" routerLinkActive="active">
      Setores
    </button>
    <button [routerLink]="['cargos']" routerLinkActive="active">
      Cargos
    </button>
    <button [routerLink]="['funcionarios']" routerLinkActive="active">
      Funcionários
    </button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</smart-container-form-with-tabs>
