<smart-container-form>
  <div class="content">
    <smart-table-skeleton></smart-table-skeleton>
    <div class="list-search-bar">
      <div class="search">
        <div class="search-input">
          <smart-dropdown-filter
            title="Filtrar Riscos"
            filterHeader="Filtra por:"
          >
            <form>
              <div class="form-row">
                <div class="form-group col-12">
                  <label for="name">Nome</label>
                  <input
                    class="form-control"
                    id="name"
                    placeholder="Informe o nome do risco"
                  />
                </div>
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Grupo de Risco"
                    placeholderName="Selecione o grupo de risco"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <button class="button__filter_dropdown">
                    Filtrar
                  </button>
                </div>
              </div>
            </form>
          </smart-dropdown-filter>
        </div>
        <smart-button-remove
          iconTrash="{{ true }}"
          title="Excluir Risco"
        ></smart-button-remove>
      </div>
      <smart-button-add
        (click)="newEffect()"
        title="Adicionar Risco"
      ></smart-button-add>
    </div>

    <table class="list-table">
      <tr>
        <div class="list-table-item row">
          <div class="col-4">
            <div class="thumbnail">
              <smart-checkbox></smart-checkbox>
              <div class="avatar">
                <span>GR</span>
              </div>
              <div class="names">
                <span>Nome reduzido::</span>
                <span class="list-table-item__value"> Nome reduzido</span>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex flex-column">
              <span>Código eSocial:</span>
              <span class="list-table-item__value">010.10.100.10</span>
            </div>
          </div>

          <div class="col-3">
            <div class="buttons d-flex justify-content-end">
              <button class="btn table-buttons">Editar</button>
              <button class="btn table-buttons button-detail">
                detalhar
              </button>
            </div>
          </div>
        </div>
      </tr>
    </table>
  </div>
</smart-container-form>
