<!-- DOC: nav menu layout change shortcut -->
<div class="hidden-md-down dropdown-icon-menu position-relative">
  <a
    href="#"
    class="header-btn btn js-waves-off"
    (click)="toggleMinifyNavigation($event)"
    title="Hide Navigation"
    data-class="nav-function-hidden"
  >
    <i class="ni ni-menu"></i>
  </a>
</div>
