.display-status {
  display: flex;
  align-items: center;

  .display-status__title {
    color: #37474f;
    font-size: 16px;
  }

  .display-status__icon {
    width: 15px;
    height: 15px;
    background-color: #51d95f;
    border-radius: 50%;
    margin-right: 10px;
  }
  .display-status__icon-alert {
    background-color: #fbff00;
  }
  .display-status__icon-danger {
    background-color: #eb4949;
  }
}
