<div class="display-status">
  <span
    class="display-status__icon"
    [ngClass]="{
      'display-status__icon-alert': options[status] === options.ALERT,
      'display-status__icon-danger': options[status] === options.DANGER
    }"
  ></span>

  <span *ngIf="title" class="display-status__title">{{ title }}</span>
  <ng-content></ng-content>
</div>
