<div class="form-header">
  <form [formGroup]="form" class="form-header-form">
    <div class="form-header-content">
      <div>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-newcustomer"
          #panelNewCustomer
        >
          <div panelTitle class="title-collapse">
            Empresas e Ambientes
          </div>
          <div panelContent id="isCollapsedDataCustomer">
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-4">
                <smart-select-autocomplete-search
                  labelName="Empresa"
                  placeholderName="Selecione a empresa"
                ></smart-select-autocomplete-search>
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-4">
                <smart-select-autocomplete-search
                  labelName="Ambiente de Trabalho"
                  placeholderName="Selecione o Ambiente de Trabalho"
                ></smart-select-autocomplete-search>
              </div>
            </div>
          </div>
        </smart-panel>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-Cnae"
          #panelCnae
        >
          <div panelTitle class="title-collapse">
            Cabeçalho
          </div>
          <div panelContent id="isCollapsedCNA">
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <label for="fimV">Início da vigência</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="fimV"
                  bsDatepicker
                  placeholder="Selecione o Início da vigência"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <label for="fimV">Fim da vigência</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="fimV"
                  bsDatepicker
                  placeholder="Selecione o Início da vigência"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <label for="dtVis">Data da vistória</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="dtVis"
                  bsDatepicker
                  placeholder="Selecione a Data da vistória"
                />
              </div>
              <div class="form-group col-sm-6 col-md-3 col-lg-3 col-xl-2">
                <label for="dtEl">Data de elaboração</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  id="dtEl"
                  bsDatepicker
                  placeholder="Selecione a data da Data de elaboração"
                />
              </div>
              <div class="form-group col-md-6 col-lg-6 col-xl-2">
                <label for="qtM">Quantidade de mulheres</label>
                <input
                  id="qtM"
                  class="form-control"
                  autocomplete="off"
                  type="number"
                  placeholder="Informe a Quantidade de mulheres"
                />
              </div>
              <div class="form-group col-md-6 col-lg-6 col-xl-2">
                <label for="qtH">Quantidade de homens</label>
                <input
                  id="qtH"
                  class="form-control"
                  autocomplete="off"
                  type="number"
                  placeholder="Informe a Quantidade de homens"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-xl-5">
                <smart-select-autocomplete-search
                  labelName="Responsável"
                  placeholderName="Selecione o responsável"
                ></smart-select-autocomplete-search>
              </div>
            </div>
          </div>
        </smart-panel>
      </div>
      <!-- <smart-buttons-form></smart-buttons-form> -->
    </div>
  </form>
</div>
