:host {
  width: 100%;
  display: inline-block;
}

.form-header {
  width: 100%;
  height: 100%;
  display: flex;

  .form-header-form {
    flex: 1;
  }
  .form-header-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}
