<div class="new-workspace">
  <form>
    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="panel-Address"
      #panelAddress
    >
      <div class="title-collapse" panelTitle>
        Endereço
      </div>
      <div panelContent id="isCollapsedAddress">
        <div class="form-row">
          <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-2">
            <smart-select-autocomplete-search
              labelName="Endereço"
              placeholderName="Selecione o endereço"
              [isSearch]="false"
            ></smart-select-autocomplete-search>
          </div>
        </div>
      </div>
    </smart-panel>

    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="response"
      #response
    >
      <div class="title-collapse" panelTitle>
        Responsável
      </div>
      <div panelContent id="response">
        <div class="form-row">
          <div class="form-group col-xl-5">
            <smart-select-autocomplete-search
              labelName="Contato"
              placeholderName="Selecione o contato"
              [isSearch]="false"
            ></smart-select-autocomplete-search>
          </div>
        </div>
      </div>
    </smart-panel>

    <smart-panel
      [collapsible]="true"
      [isAnimated]="true"
      id="ambiente"
      #ambiente
    >
      <div class="title-collapse" panelTitle>
        Dados do Ambiente de Trabalho
      </div>
      <div panelContent id="response">
        <div class="form-row">
          <div class="form-group col-xl-3">
            <label for="name">Nome</label>
            <input
              class="form-control"
              id="name"
              placeholder="Informe o Nome do Ambiente de Trabalho"
            />
          </div>
          <div class="form-group col-xl-12">
            <label for="nomeFantasia">Descrição</label>
            <textarea
              class="form-control"
              id="nomeFantasia"
              rows="5"
              placeholder="Informe uma Descrição"
            ></textarea>
          </div>
        </div>
      </div>
    </smart-panel>
    <smart-buttons-form></smart-buttons-form>
  </form>
</div>
