<div class="modal-body">
  <div>
    <button (click)="openSecondModalEvent.emit()">novo risco</button>
    <h3 class="modal-title">Nome setor - Nome cargo</h3>
    <div class="modal-functiondetail__descriptions">
      <span>Grupo de atividade</span>
      <p>Operador de Empilhadeira</p>
    </div>
    <div class="modal-functiondetail__descriptions">
      <span>Descrição da atividade</span>
      <p>
        Descrição da atividade Preparam a movimentação de carga. Organizam a
        carga interpretando a simbologia das embalagens, armazenando de acordo
        com o prazo de validade do produto, identificando características da
        carga para transporte e armazenamento e separando carga não-conforme.
        Realizam manutenções para movimentação de cargas. Trabalham de acordo
        com normas de segurança, higiene, qualidade e proteção ao meio ambiente.
      </p>
    </div>
    <form class="register-rik-step-modal-form">
      <div class="form-header-content">
        <div>
          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-Cnae"
            #panelCnae
          >
            <div panelTitle class="title-collapse">
              Riscos
            </div>
            <div panelContent id="isCollapsedCNA">
              <div class="form-row">
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Risco"
                    placeholderName="Selecione a Frequência"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Efeitos"
                    placeholderName="Selecione a Severidade"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Meio de exposição"
                    placeholderName="Selecione o Risco"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Frequência"
                    placeholderName="Selecione a Frequência"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Severidade"
                    placeholderName="Selecione a Severidade"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Risco"
                    placeholderName="Selecione o Risco"
                  ></smart-select-autocomplete-search>
                </div>
              </div>
              <smart-tag-container>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
                <smart-tag-item></smart-tag-item>
              </smart-tag-container>
              <smart-button-add title="Adicionar Risco"></smart-button-add>
            </div>
          </smart-panel>
          <div class="row mb-4 mt-4">
            <div class="form-group col-6">
              <label for="formGroupExampleInput"
                >Quantidade de funcionários</label
              >
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Informe o número de funcionários"
              />
            </div>
            <div class="col-6"></div>

            <div class="form-group col-6">
              <label for="formGroupExampleInput">Medição ruído (dB (A))</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Informe a medição de ruído"
              />
            </div>
          </div>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-Cnae"
            #panelCnae
          >
            <div panelTitle class="title-collapse">
              Medidas de Controle
            </div>
            <div panelContent id="isCollapsedCNA">
              <div class="form-row">
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label for="iniV">EPI</label>
                  <textarea
                    class="form-control"
                    id="iniV"
                    rows="5"
                    placeholder="Informe o Nome do EPI"
                  >
                  </textarea>
                </div>
                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label for="fimV">EPC</label>
                  <textarea
                    class="form-control"
                    id="fimV"
                    rows="5"
                    placeholder="Informe o número EPC"
                  >
                  </textarea>
                </div>

                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <label for="fimV">Geral</label>
                  <textarea
                    class="form-control"
                    id="fimV"
                    rows="5"
                    placeholder="Informe aqui outras medidas preventivas"
                  >
                  </textarea>
                </div>
              </div>
              <smart-button-add title="Adicionar medidas"></smart-button-add>
            </div>
          </smart-panel>
        </div>
        <smart-buttons-form
          cancelButtonTitle="Voltar"
          saveButtonTitle="Salvar"
          [showSaveAndContinueButton]="false"
        ></smart-buttons-form>
      </div>
    </form>
  </div>
</div>
