.modal-functiondetail__descriptions {
  margin-bottom: 30px;
  line-height: 22px;
  span {
    font-size: 16px;
    font-weight: normal;
  }
  p {
    margin-top: 7px;
    font-size: 14px;
    color: #9fa5aa;
    line-height: 24px;
    font-weight: normal;
  }
}
