.pcmso__list-exams {
  width: 100%;

  .exams__item {
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    height: 75px;
    margin-bottom: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .exams_item__texts {
      display: flex;
      flex-direction: column;

      .exams_item__texts__title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #0896ff;
      }
      .exams_item__texts__subtitle {
        font-weight: 300;

        line-height: 14px;
        color: #37474f;
      }
    }
    .exams_item__menu {
      margin-left: 30px;
    }

    .exams__item__new-exam {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #0b2d4b;

      .exams__item__new-exam__title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
      }
      .icon-add-more {
        margin-right: 8px;
        font-size: 24px;
      }
    }
  }
  .exams__item__new {
    border: 1px dashed #a7b2bb;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    position: relative;

    .exams__item__new__card__opened {
      min-height: 300px;
      padding: 15px;
      display: block;
      overflow: visible;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
      border-radius: 10px;
    }
  }
  .exams__item__new_opened {
    border: none;
  }
  .exams__item__new {
    justify-content: center;
  }
}

.dropdown-menu-pcmso {
  left: -39px !important;
  right: 210px !important;
  top: 150% !important;
  top: 100px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: none;
  padding: 10px;
  width: 50px !important;
  &:after,
  &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 11px;
    margin-left: -11px;
  }

  .dropdown-menu-pcmso__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;

    img {
      margin-right: 8px;
    }
    span {
      font-size: 14px;
    }
    margin-bottom: 5px;
  }

  .dropdown-menu-pcmso__item:hover {
    background-color: #fff;
  }
  .dropdown-menu-pcmso__item__disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #37474f;
    }
  }
}
