<smart-container-form>
  <div class="content">
    <form>
      <smart-panel
        [collapsible]="true"
        [isAnimated]="true"
        id="panel-newcustomer"
        #panelNewCustomer
      >
        <div panelTitle class="title-collapse">Empresa e Ambiente</div>
        <div panelContent id="">
          <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="form-row">
                <div class="col-xl-12">
                  <div class="form-row">
                    <div
                      class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                    >
                      <smart-select-autocomplete-search
                        labelName="Empresa"
                        placeholderName="Busque a empresa"
                      ></smart-select-autocomplete-search>
                    </div>
                    <div
                      class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                    >
                      <smart-select-autocomplete-search
                        labelName="Ambiente de Trabalho"
                        placeholderName="Busque o ambiente de trabalho"
                      ></smart-select-autocomplete-search>
                    </div>
                  </div>
                  <smart-radio-container
                    direction="row"
                    label="Deseja importar dados de um PPRA existente?"
                  >
                    <smart-radio-item title="Não Copiar"></smart-radio-item>
                    <smart-radio-item
                      title="Copiar dados de PPRA anterior"
                    ></smart-radio-item>
                  </smart-radio-container>
                </div>
                <div
                  class="col-xl-6 d-flex mt-3 justify-content-start align-items-center"
                >
                  <div>
                    <smart-select-autocomplete-search
                      placeholderName="Selecione o PPRA"
                    ></smart-select-autocomplete-search>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Setor"
                    placeholderName="Selecione o setor"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="GHE"
                    placeholderName="Selecione o GHE"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Groupo de atividade"
                    placeholderName="Selecione o grupo de atividade"
                  ></smart-select-autocomplete-search>
                </div>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-12 mt-4 col-lg-4 d-flex justify-content-end"
            >
              <smart-list-feedback-status
                title="Cargos"
              ></smart-list-feedback-status>
            </div>
          </div>
        </div>
      </smart-panel>
      <smart-panel
        [collapsible]="true"
        [isAnimated]="true"
        id="panel-newcustomer"
        #panelNewCustomer
      >
        <div panelTitle class="title-collapse">Riscos identificados</div>
        <div panelContent id="">
          <div class="d-flex justify-content-end mr-2">
            <smart-button-add
              (click)="openModalRisk(templateModalNewRisk)"
              title="Adicionar Risco"
            ></smart-button-add>
          </div>
          <table class="list-table">
            <tr>
              <div class="list-table-item row">
                <div class="col-1">
                  <div class="d-flex flex-column">
                    <smart-checkbox></smart-checkbox>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex flex-column">
                    <span>Risco:</span>
                    <span class="list-table-item__value">Queimadura</span>
                  </div>
                </div>
                <div class="col-2">
                  <div class="d-flex flex-column">
                    <span>Grupo de atividade::</span>
                    <span class="list-table-item__value">Físico</span>
                  </div>
                </div>

                <div class="col-5">
                  <div class="buttons d-flex justify-content-end">
                    <button class="btn-transparent-with-border button-danger">
                      Excluir
                    </button>
                  </div>
                </div>
              </div>
            </tr>
          </table>
        </div>
      </smart-panel>
      <smart-panel
        [collapsible]="true"
        [isAnimated]="true"
        id="panel-newcustomer"
        #panelNewCustomer
      >
        <div panelTitle class="title-collapse">Exames</div>
        <div panelContent id="">
          <div class="pcmso__list-exams">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div
                  [ngClass]="{
                    exams__item: true,
                    exams__item__new: true,
                    exams__item__new_opened: visibleNewExam
                  }"
                  class="exams__item exams__item__new"
                >
                  <button
                    type="button"
                    (click)="newExam()"
                    class="exams__item__new-exam"
                  >
                    <i class="icon-add-more"></i>
                    <span class="exams__item__new-exam__title"
                      >Adicionar Exame</span
                    >
                  </button>
                  <smart-pcmso-exam-form
                    (onCloseCardFormExam)="closeCardExam()"
                    [visibleCardFormExam]="visibleNewExam"
                  ></smart-pcmso-exam-form>
                </div>
              </div>
              <ng-container *ngFor="let exam of exams">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                  <smart-pcmso-exam-item [exam]="exam"></smart-pcmso-exam-item>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </smart-panel>
      <smart-panel
        [collapsible]="true"
        [isAnimated]="true"
        id="panel-newcustomer"
        #panelNewCustomer
      >
        <div panelTitle class="title-collapse">Responsável</div>
        <div panelContent id="">
          <div class="form-row">
            <div class="form-group col-xl-4">
              <smart-select-autocomplete-search
                labelName="Médico responsável/coordenador"
                placeholderName="Selecione o Médico responsável/coordenador"
              ></smart-select-autocomplete-search>
            </div>
          </div>
        </div>
      </smart-panel>
      <smart-buttons-form></smart-buttons-form>
    </form>
  </div>
</smart-container-form>

<ng-template #templateModalNewRisk>
  <div class="modal-body">
    <h3 class="modal-title">Adicionar um risco</h3>
    <div class="function-form">
      <form class="function-form-form">
        <div class="function-form-content">
          <div class="mb-6">
            <div class="form-row">
              <div class="form-group col-xl-12">
                <smart-select-autocomplete-search
                  labelName="Nome"
                  placeholderName="Pesquise pelo nome do risco"
                ></smart-select-autocomplete-search>
              </div>
            </div>
          </div>
          <smart-buttons-form
            [showSaveAndContinueButton]="false"
          ></smart-buttons-form>
        </div>
      </form>
    </div>
  </div>
</ng-template>
