<smart-container-form>
  <div class="content">
    <!-- <smart-empty-list
          buttonTitle="Adicionar Ordem de Serviço"
        ></smart-empty-list> -->
    <div class="list-search-bar">
      <div class="search">
        <div style="width: 300px;" class="search-input">
          <smart-dropdown-filter
            title="Filtrar Ordem de serviço"
            filterHeader="Filtra por:"
          >
            <form>
              <div class="form-row">
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Empresa"
                    placeholderName="Informe a empresa"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Status"
                    placeholderName="Informe o status"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <smart-select-autocomplete-search
                    labelName="Data"
                    placeholderName="Selecione de período"
                  ></smart-select-autocomplete-search>
                </div>
                <div class="form-group col-12">
                  <button class="button__filter_dropdown">
                    Filtrar
                  </button>
                </div>
              </div>
            </form>
          </smart-dropdown-filter>
        </div>
        <smart-button-remove
          iconTrash="{{ true }}"
          title="Excluir Ordem de Serviço"
        ></smart-button-remove>
      </div>
      <smart-button-add
        (click)="newOrder()"
        title="Adicionar Ordem de Serviço"
      ></smart-button-add>
    </div>

    <table class="list-table">
      <tr>
        <div class="list-table-item row">
          <div class="col-4">
            <div class="thumbnail">
              <smart-checkbox></smart-checkbox>
              <div class="avatar">
                <span>GR</span>
              </div>
              <div class="names">
                <span>Nome reduzido::</span>
                <span class="list-table-item__value"> Nome reduzido</span>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex flex-column">
              <span>Código eSocial:</span>
              <span class="list-table-item__value">010.10.100.10</span>
            </div>
          </div>

          <div class="col-3">
            <div class="buttons d-flex justify-content-end">
              <button class="btn table-buttons">Editar</button>
              <button class="btn table-buttons button-detail">
                detalhar
              </button>
            </div>
          </div>
        </div>
      </tr>
    </table>
  </div>
</smart-container-form>
