<smart-container-form>
  <div class="content">
    <div class="effect-form">
      <form class="effect-form-form">
        <div class="effect-form-content">
          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Cabeçalho
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Empresa"
                    placeholderName="Selecione a empresa"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Ambiente de trabalho"
                    placeholderName="Selecione o ambiente  de trabalho"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="PPRA"
                    placeholderName="Selecione o PPRA"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Funcionário"
                    placeholderName="Selecione o funcionario"
                  >
                  </smart-select-autocomplete-search>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Dados do funcionário
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-4">
                  <label for="name">Nome completo</label>
                  <input
                    class="form-control"
                    id="name"
                    placeholder="Informe o Nome completo"
                  />
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Matrícula"
                    placeholderName="Selecione o ambiente  de trabalho"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Setor"
                    placeholderName="Selecione o Setor"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Cargo"
                    placeholderName="Selecione o Cargo"
                  >
                  </smart-select-autocomplete-search>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Atividades
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-12">
                  <label for="name">Atividades</label>
                  <textarea
                    class="form-control"
                    id="name"
                    rows="5"
                    placeholder="Informe o Limite de Tolerância"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Risco e avaliação
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-4">
                  <smart-select-autocomplete-search
                    labelName="Risco"
                    placeholderName="Selecione o risco"
                  >
                  </smart-select-autocomplete-search>
                </div>
                <div class="form-group col-xl-12">
                  <label for="name">Avaliação</label>
                  <textarea
                    class="form-control"
                    id="name"
                    rows="5"
                    placeholder="Informe a avaliação"
                  >
                  </textarea>
                </div>
                <smart-button-add title="Adicionar Risco"></smart-button-add>
                <smart-tag-container>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                  <smart-tag-item></smart-tag-item>
                </smart-tag-container>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              EPIs necessários e/ou utilizados
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-12">
                  <label for="name">Descrição</label>
                  <textarea
                    class="form-control"
                    id="name"
                    rows="5"
                    placeholder="Informe os EPIs necessários e/ou utilizados"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Medidas Preventivas de Riscos
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-12">
                  <label for="name">Descrição</label>
                  <textarea
                    class="form-control"
                    id="name"
                    rows="5"
                    placeholder="Informe as Medidas Preventivas de Riscos"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-panel
            [collapsible]="true"
            [isAnimated]="true"
            id="panel-newcustomer"
            #panelNewCustomer
          >
            <div panelTitle class="title-collapse">
              Orientações de Segurança
            </div>
            <div panelContent id="isCollapsedDataCustomer">
              <div class="form-row">
                <div class="form-group col-xl-12">
                  <label for="name">Descrição</label>
                  <textarea
                    class="form-control"
                    id="name"
                    rows="5"
                    placeholder="Informe as Orientações de Segurança"
                  >
                  </textarea>
                </div>
              </div>
            </div>
          </smart-panel>

          <smart-buttons-form></smart-buttons-form>
        </div>
      </form>
    </div>
  </div>
</smart-container-form>
