@import "../../../../scss/_modules/variables.scss";

:host {
  height: 100%;
}

.newsector {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .newsector-content {
    .newsector-content-title {
      color: #0b2d4b;
    }
  }

  .newsector-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 795px) {
      flex-direction: column;
      button {
        margin: 10px 0px;
      }
    }
  }
}
