<div class="panel">
  <div
    class="panel-hdr  {{ headerClass }}"
    [ngClass]="{ 'panel-hdr-centralized': centralized }"
  >
    <div class="panel__title" (click)="toggleCollapse($event)">
      <ng-content
        (click)="toggleCollapse($event)"
        select="[panelTitle]"
        #panelTitle
      ></ng-content>
    </div>

    <div class="panel-toolbar">
      <button
        [ngClass]="{
          button__colapse: true,
          'button__colapse-rotate': collapsed
        }"
        class="button__colapse"
        *ngIf="collapsible"
        data-action="panel-collapse"
        (click)="toggleCollapse($event)"
      >
        <i class="icon-chevron-do"> </i>
      </button>
      <button
        class="btn btn-panel"
        *ngIf="fullscreenable"
        data-action="panel-fullscreen"
        (click)="toggleFullscreen($event)"
        tooltip="Fullscreen"
      ></button>
      <button
        class="btn btn-panel"
        *ngIf="clossable"
        data-action="panel-close"
        (click)="closePanel($event)"
        tooltip="Close"
      ></button>
    </div>
  </div>

  <div
    class="panel-content"
    [ngClass]="pannelContentClasses"
    [collapse]="collapsed"
    [isAnimated]="isAnimated"
  >
    <ng-content select="[panelContent]"> </ng-content>
  </div>

  <ng-content select="[panelFooter]"> </ng-content>
</div>
