.button__colapse {
  transition: all 300ms;
  color: #697b8c;
}

.button__colapse-rotate {
  transform: rotate(180deg);
}

.panel-content {
  width: 100%;
}

.panel-hdr-centralized {
  display: flex;
  justify-content: center;
}

.panel__title {
  cursor: pointer;
}
