<div class="checkbox__container">
  <label [for]="id" [ngClass]="{ 'checkbox-hastitle': label }" class="checkbox"
    >{{ label }}
    <input [id]="id" type="checkbox" [checked]="checked" />
    <span class="checkmark"></span>
  </label>
</div>
