@import "../../../scss/_modules/variables.scss";

.checkbox__container {
  margin: 10px 0px;
}

.checkbox-hastitle {
  display: block;
}

.checkbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: white;
  border: 2px solid #a7b2bb;
  border-radius: 4px;
  margin-top: -3px;
}

// /* On mouse-over, add a grey background color */
// .checkbox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
// .checkbox input:checked ~ .checkmark {
//   background-color: #2196f3;
// }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 10px;
  background: $color-primary;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 $color-primary, 4px 0 0 $color-primary,
    4px -2px 0 $color-primary, 4px -4px 0 $color-primary,
    4px -6px 0 $color-primary, 4px -8px 0 $color-primary;
  transform: rotate(45deg);
}
