<div class="list-feedback-status">
  <smart-panel [centralized]="true" [collapsible]="true" [isAnimated]="true">
    <div class="list-feedback-status__title" panelTitle>
      {{ title }}
    </div>
    <div panelContent id="isCollapsedDataCustomer" class="width-200px">
      <div class="list-feedback-status__header">
        <span>Pendente</span><span>Concluído</span>
      </div>
      <ul class="list-feedback-status__list">
        <li>
          <div class="list-feedback-status__list__item">
            <span>Escritório 1</span>
            <smart-display-status></smart-display-status>
          </div>
        </li>
        <li>
          <div class="list-feedback-status__list__item">
            <span>Escritório 2</span>
            <smart-display-status></smart-display-status>
          </div>
        </li>
        <li>
          <div class="list-feedback-status__list__item">
            <span>Escritório 3</span>
            <smart-display-status></smart-display-status>
          </div>
        </li>
      </ul>
    </div>
  </smart-panel>
</div>
