.list-feedback-status {
  border: 1px solid #a7b2bb;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  max-width: 326px;
  padding: 10px;
  min-width: 305px;
  transition: all 0.5 ease;

  .list-feedback-status__title {
    color: #0b2d4b;
    font-size: 20px;
  }

  .list-feedback-status__header,
  .list-feedback-status__list {
    padding: 0px;
    width: 280px;

    li {
      width: 100%;
      list-style: none;
      border-radius: 10px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
    }

    li:nth-child(odd) {
      background-color: #f1f1f1;
    }

    .list-feedback-status__list__item {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      span {
        color: #37474f;
        font-size: 16px;
      }
    }
  }
  .list-feedback-status__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    padding: 0px 15px;

    span {
      color: #0896ff;
      font-size: 16px;
    }
  }
}
