<div dropdown>
  <a
    dropdownToggle
    data-toggle="dropdown"
    title="{{ user.email }}"
    class="header-icon d-flex align-items-center justify-content-center ml-2"
  >
    <img
      src="assets/img/demo/avatars/{{ user.avatar }}"
      class="profile-image rounded-circle"
      alt="{{ user.name }}"
    />
    <!-- you can also add username next to the avatar with the codes below:
    <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
    <i class="ni ni-chevron-down hidden-xs-down"></i> -->
  </a>
  <div
    *dropdownMenu
    class="dropdown-menu dropdown-menu-animated-right dropdown-lg"
  >
    <div
      class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top"
    >
      <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
          <img
            src="assets/img/demo/avatars/{{ user.avatar }}"
            class="rounded-circle profile-image"
            alt="{{ user.user }}"
          />
        </span>
        <div class="info-card-text">
          <div class="fs-lg text-truncate text-truncate-lg">
            {{ user.user }}
          </div>
          <span class="text-truncate text-truncate-md opacity-80">{{
            user.email
          }}</span>
        </div>
      </div>
    </div>
    <div class="dropdown-divider m-0"></div>
    <!-- <div class="dropdown-multilevel dropdown-multilevel-left">
      <div class="dropdown-item">
        Language
      </div>
      <div class="dropdown-menu">
        <a href="#?lang=fr" class="dropdown-item" data-action="lang" data-lang="fr">Français</a>
        <a href="#?lang=en" class="dropdown-item active" data-action="lang" data-lang="en">English (US)</a>
        <a href="#?lang=es" class="dropdown-item" data-action="lang" data-lang="es">Español</a>
        <a href="#?lang=ru" class="dropdown-item" data-action="lang" data-lang="ru">Русский язык</a>
        <a href="#?lang=jp" class="dropdown-item" data-action="lang" data-lang="jp">日本語</a>
        <a href="#?lang=ch" class="dropdown-item" data-action="lang" data-lang="ch">中文</a>
      </div>
    </div> -->
    <div class="dropdown-divider m-0"></div>
    <a (click)="logout()" class="dropdown-item fw-500 pt-3 pb-3">
      <span>Sair</span>
    </a>
  </div>
</div>
