.menu-lateral-float {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  left: 130px;
  z-index: 4;

  .menu-lateral-float-content {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
  }
}
