@import "../../../scss/_modules/variables.scss";

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .itens {
    display: flex;
    justify-content: space-around;

    a {
      flex: 1;
      color: #5bc0de;
      padding-bottom: 10px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
    .active {
      border-bottom: 3px solid #5bc0de;

      @media screen and (max-width: 500px) {
        border-bottom-width: 2px;
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #5bc0de;
  }
}

.container {
  width: 100%;
  margin-top: 40px;
  color: #355c80;
}

.recovery-password-form {
  width: 100%;
  margin-top: 40px;
  color: #355c80;

  .form-label {
    width: 100%;
  }

  .invalid-feedback span {
    font-size: 13px;
  }

  .form-check {
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }

  .icon-input {
    width: 15px;
    height: 15px;
  }

  .input-prefix {
    background-color: $white;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
    }
  }
}

.modal-recovery {
  border-radius: 20px !important;
  width: 400px;
}

.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
  .email {
    color: $color-info;
    margin-bottom: 20px;
    text-align: center;
  }
  .message {
    color: #0b2d4b;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
  .button {
    margin-bottom: 20px;
  }
}
