<smart-connect-con-container>
  <div class="container">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{
        alert.msg
      }}</alert>
    </div>
    <div class="tabs">
      <div class="itens">
        <a
          (click)="changeProblem(stateOptions.RECOVERY_ACCOUNT)"
          [ngClass]="{
            active: state === stateOptions.RECOVERY_ACCOUNT
          }"
          >Recuperar Conta</a
        >
        <a
          (click)="changeProblem(stateOptions.RECOVERY_PASSWORD)"
          [ngClass]="{
            active: state === stateOptions.RECOVERY_PASSWORD
          }"
          >Recuperar Senha</a
        >
      </div>
      <span class="line"></span>
    </div>
    <div *ngIf="state === stateOptions.RECOVERY_PASSWORD; else recoveryAccount">
      <smart-recovery-password
        (formSubmitChange)="formSubmitPassword($event)"
        [state]="state"
      >
      </smart-recovery-password>
    </div>
    <ng-template #recoveryAccount>
      <smart-recovery-account
        (formSubmitChange)="formSubmitAccount($event)"
        [state]="state"
      >
      </smart-recovery-account>
    </ng-template>
  </div>
</smart-connect-con-container>
k
