<div class="w-100">
  <div class="w-100 mt-5 mb-3 d-flex justify-content-center">
    <ngx-skeleton-loader
      [theme]="configAvatar"
      appearance="circle"
    ></ngx-skeleton-loader>
  </div>
  <div class="w-100 mb-4">
    <ngx-skeleton-loader [theme]="configLineOne"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="configLineTwo"></ngx-skeleton-loader>
  </div>
</div>
