.modal-details-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.modal-details-principal-item {
  margin-left: 20px;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}

.modal-delete-buttons {
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #0896ff;
  margin-right: 30px;
}

.modal-delete-buttons:nth-of-type(2) {
  color: red;
  margin-left: 30px;
}
