<div
  *ngIf="isModalShown"
  [config]="{ show: true }"
  (onHidden)="onHidden()"
  bsModal
  #autoShownModal="bs-modal"
  class="modal fade "
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name"
>
  <div class="modal-dialog  modal-md modal-dialog-centered">
    <div class="modal-content d-flex justify-content-center">
      <div class="modal-header d-flex justify-content-center">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <h4 id="dialog-auto-name" class="modal-title pull-left">
          {{ title }}
        </h4>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <div class="modal-details-content">
          <p>{{ description }}</p>
        </div>
        <div class="form-row mt-6">
          <button class="modal-delete-buttons">Cancelar</button>
          <button class="modal-delete-buttons">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
