@import "../../../../scss/_modules/variables.scss";

.sector-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sector-form {
    flex: 1;
  }

  .sector-title {
    color: #0b2d4b;
  }

  .sector-form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sector-form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 795px) {
      flex-direction: column;
      button {
        margin: 10px 0px;
      }
    }
  }

  .list_sectors {
    margin-left: 15px;
  }

  .group_homogeneous-container {
    padding: 0px !important;
  }
  .group_homogeneous {
    width: 100%;
    border-right: 1px solid #c4cbd2;
    padding-right: 40px;
    padding-bottom: 10px;

    .group_homogeneous__list {
      margin-top: 10px;
      .group_homogeneous__list__item {
        margin-bottom: 20px;
        background: #ffffff;
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.14);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .group_homogeneous__list__item__titles {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.error {
  color: red;
}
