<div class="sector-form">
  <form
    class="sector-form"
    novalidate
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="sector-form-content">
      <div>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-newcustomer"
          #panelNewCustomer
        >
          <div panelTitle class="title-collapse">
            Dados do Setor
          </div>
          <div panelContent id="isCollapsedDataCustomer">
            <div class="form-row">
              <div class="form-group col-xl-3">
                <label [ngClass]="displayFieldCss('name')" for="name"
                  >Nome</label
                >
                <input
                  class="form-control"
                  id="name"
                  [formField]="isFieldValid('name')"
                  formControlName="name"
                  placeholder="Informe o nome"
                />
              </div>
              <div class="form-group col-xl-3">
                <smart-select-autocomplete-search
                  labelName="Ambiente de Trabalho"
                  placeholderName="Selecione o Ambiente de Trabalho"
                  [isSearch]="false"
                ></smart-select-autocomplete-search>
              </div>
              <div class="form-group col-xl-12">
                <label [ngClass]="displayFieldCss('desc')" for="nomeFantasia"
                  >Descrição</label
                >
                <textarea
                  class="form-control"
                  id="nomeFantasia"
                  [formField]="isFieldValid('desc')"
                  rows="5"
                  formControlName="desc"
                  placeholder="Informe uma Descrição"
                ></textarea>
              </div>
            </div>
          </div>
        </smart-panel>
        <smart-panel
          [collapsible]="true"
          [isAnimated]="true"
          id="panel-newcustomer"
          #panelNewCustomer
        >
          <div panelTitle class="title-collapse">
            Grupo Homgêneo
          </div>
          <div panelContent id="isCollapsedDataCustomer">
            <div class="form-row">
              <div class="col-3 group_homogeneous-container">
                <div class="group_homogeneous">
                  <smart-button-add title="Adicionar cargo"></smart-button-add>
                  <div class="group_homogeneous__list">
                    <div class="group_homogeneous__list__item">
                      <div class="group_homogeneous__list__item__titles">
                        <span>GHE1</span>
                        <span>Período: Selecione o período</span>
                      </div>
                      <div class="group_homogeneous__list__item__action">
                        <button>
                          <img
                            src="assets/img/icons/icon-menu.svg"
                            alt="icone menu"
                          />
                        </button>
                      </div>
                    </div>
                    <div class="group_homogeneous__list__item">
                      <div class="group_homogeneous__list__item__titles">
                        <span>GHE1</span>
                        <span>Período: Selecione o período</span>
                      </div>
                      <div class="group_homogeneous__list__item__action">
                        <button>
                          <img
                            src="assets/img/icons/icon-menu.svg"
                            alt="icone menu"
                          />
                        </button>
                      </div>
                    </div>
                    <div class="group_homogeneous__list__item">
                      <div class="group_homogeneous__list__item__titles">
                        <span>GHE1</span>
                        <span>Período: Selecione o período</span>
                      </div>
                      <div class="group_homogeneous__list__item__action">
                        <button>
                          <img
                            src="assets/img/icons/icon-menu.svg"
                            alt="icone menu"
                          />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-9">
                <div class="list_sectors">
                  <div class="list-search-bar">
                    <div class="search">
                      <div class="search-input">
                        <smart-select-autocomplete-search
                          placeholderName="Pesquisar por Setor"
                        >
                        </smart-select-autocomplete-search>
                      </div>
                      <smart-button-remove
                        iconTrash="{{ true }}"
                        title="Excluir Setor"
                      ></smart-button-remove>
                    </div>
                    <smart-button-add
                      title="Adicionar setor"
                    ></smart-button-add>
                  </div>

                  <table class="list-table">
                    <tr>
                      <div class="list-table-item row">
                        <div class="col-4">
                          <div class="thumbnail">
                            <smart-checkbox></smart-checkbox>
                            <div class="avatar">
                              <span>GR</span>
                            </div>
                            <div class="names">
                              <span>Nome:</span>
                              <span class="list-table-item__value"
                                >Cargo 01</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </smart-panel>
      </div>
      <button type="submit">ABC</button>
      <smart-buttons-form></smart-buttons-form>
    </div>
  </form>
</div>
